page-login {
	h1 {
		color: #fff;
		margin-bottom: 9rem;
		margin-top: 3rem !important;
		text-align: center;
	}

	.label-form {
		font-size: 2rem;
	}

	.item {
		background: none;
	}

	form {
		background-color: rgba(#fff, .9);
		border: 2px solid #159e58;
		border-radius: 12px;
		margin-top: 5rem;
		padding: 2rem;
	}
}
