<ion-content padding class="content-fundo">
  <h1>PLANO A</h1>

  <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label class="label-form" floating>E-mail:</ion-label>
        <ion-input type="email" name="email" ngModel required #username="ngModel"
                   [class.invalid]="username.errors && username.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="username.errors?.required && username.dirty">
        O campo usuário é obrigatório
      </ion-item>

      <ion-item>
        <ion-label class="label-form" floating>Senha:</ion-label>
        <ion-input type="password" name="password" ngModel required #password="ngModel"
                   [class.invalid]="password.errors && password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="password.errors?.required && password.dirty">
        O campo senha é obrigatório
      </ion-item>

      <ion-item>
        <ion-label class="label-form" floating>Código da Empresa:</ion-label>
        <ion-input type="codigo" name="codigo" ngModel required #codigo="ngModel"
                   [class.invalid]="codigo.errors && codigo.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="password.errors?.required && password.dirty">
        O campo código é obrigatório
      </ion-item>

      <ion-row margin-top>
        <ion-col col-6 offset-3>
          <button ion-button block class="center" color="primary" type="submit" [disabled]="!form.valid">Entrar</button>
        </ion-col>
      </ion-row>

      <!-- <div padding>
        <button ion-button color="secondary" block type="button" (click)="signup()">Sign up</button>
      </div> -->
    </ion-list>
  </form>
</ion-content>