<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Ações Baixadas</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="bg-grey">
    <ion-card *ngFor="let baixa of baixas" class="margin-bottom">
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/checked.png">
            </ion-avatar>
            <h2>
                <ion-icon *ngIf="!baixa.id_web" name="warning" color="warning" class="margin-negative-1"></ion-icon>
                <ion-icon *ngIf="baixa.id_web" name="cloud-done" color="primary" class="margin-negative-1"></ion-icon>
                Ação Baixada #{{baixa.acao_id}}
            </h2>
            <p>Em: {{ baixa.data | date:'dd/MM/yyyy'}}</p>
        </ion-item>
        <hr>
        <ion-card-content>
            <p><b>Propriedade:</b> {{ baixa.produtor_concat_propriedade }}</p>
            <p><b>O que:</b> {{ baixa.o_que }}</p>
            <p><b>Resolvido:</b>
                <ion-badge [color]="baixa.resolvido ? 'secondary':'danger'">{{ baixa.resolvido ? 'SIM' : 'NÃO' }}
                </ion-badge>
            <p><b>Justificativa:</b> {{ baixa.resposta }}
        </ion-card-content>
        <hr>
        <ion-row>
            <ion-col>
                <button ion-button block icon-start small color="warning" (click)="editarBaixa(baixa)">
                    <ion-icon name="create"></ion-icon>
                    <div>Editar</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card *ngFor="let baixa of baixasSincronizadas" class="margin-bottom">
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/checked.png">
            </ion-avatar>
            <h2>
                <ion-icon *ngIf="!baixa.id_web" name="warning" color="warning" class="margin-negative-1"></ion-icon>
                <ion-icon *ngIf="baixa.id_web" name="cloud-done" color="primary" class="margin-negative-1"></ion-icon>
                Ação Baixada #{{baixa.acao_id}}
            </h2>
            <p>Em: {{ baixa.data | date:'dd/MM/yyyy'}}</p>
        </ion-item>
        <hr>
        <ion-card-content>
            <p><b>Propriedade:</b> {{ baixa.produtor_concat_propriedade }}</p>
            <p><b>O que:</b> {{ baixa.o_que }}</p>
            <p><b>Resolvido:</b>
                <ion-badge [color]="baixa.resolvido ? 'secondary':'danger'">{{ baixa.resolvido ? 'SIM' : 'NÃO' }}
                </ion-badge>
            <p><b>Justificativa:</b> {{ baixa.resposta }}
        </ion-card-content>
        <hr>
        <ion-row>
            <ion-col>
                <button ion-button block icon-start small color="warning" (click)="editarBaixa(baixa)">
                    <ion-icon name="create"></ion-icon>
                    <div>Editar</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>

