<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Propriedades</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="bg-grey">
    <ion-searchbar (ionInput)="buscarPropriedades($event)" placeholder="Buscar..." [(ngModel)]="termo_busca"
                   [debounce]="800" [animated]="true" no-padding padding-bottom>
    </ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let propriedade of propriedades">
            <ion-thumbnail item-start>
                <img [src]="propriedade.foto">
            </ion-thumbnail>
            <h2>{{ propriedade.produtor }}</h2>
            <h3>{{ propriedade.descricao }}</h3>
            <p>
                <ion-icon *ngIf="propriedade.latitude && propriedade.longitude" color="secondary" name="pin"></ion-icon>
                <ion-icon *ngIf="!propriedade.latitude && !propriedade.longitude" color="danger" name="pin"></ion-icon>
                {{ propriedade.municipio }} - {{ propriedade.uf}}
            </p>

            <button ion-button item-end color="c-orange" small (click)="editar(propriedade.id)">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>

