<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Atualizar Produtor</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="produtorForm" id="form" (ngSubmit)="store()" novalidate>
        <ion-list>
            <div text-center class="div-img-perfil">
                <button type="button" class="bg-none" (click)="capturaFoto()">
                    <img class="form-picture" [src]="produtorForm.value.foto"/>
                    <ion-icon class="camera" name="camera"></ion-icon>
                </button>
            </div>

            <ion-item  class="form-required">
                <ion-label floating>Nome</ion-label>
                <ion-input required formControlName="nome" autocapitalize="on" autocomplete="on" class="toUpper"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Matricula</ion-label>
                <ion-input formControlName="matricula"></ion-input>
            </ion-item>

            <ion-item  class="form-required">
                <ion-label floating>CPF</ion-label>
                <ion-input required formControlName="cpf" [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" autocapitalize="on" autocomplete="on" formControlName="email" ></ion-input>
            </ion-item>

            <ion-item  class="form-required">
                <ion-label floating>Celular</ion-label>
                <ion-input required formControlName="celular" [brmasker]="{phone:true}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Telefone Residencial</ion-label>
                <ion-input formControlName="telefone" [brmasker]="{mask:'(00) 0000-0000', len:14}"></ion-input>
            </ion-item>

            <ion-item  class="form-required">
                <ion-label floating>Endereço</ion-label>
                <ion-input required formControlName="logradouro" autocapitalize="on" autocomplete="on"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Complemento</ion-label>
                <ion-input formControlName="complemento" autocapitalize="on" autocomplete="on"></ion-input>
            </ion-item>

            <ion-item *ngIf="integracao_aves" class="form-required">
                <ion-label floating>Integradora</ion-label>
                <ion-input required formControlName="integradora" disabled></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Ativo</ion-label>
                <ion-checkbox formControlName="ativo"></ion-checkbox>
            </ion-item>
        </ion-list>
    </form>

    <button ion-button full class="center" type="button" (click)="removerProdutor()" color="danger">
        <ion-icon name="trash" margin-right></ion-icon>
        Apagar Produtor
    </button>
    <!--<div #map id="map" [hidden]="hideMap"></div>-->
</ion-content>

<ion-footer no-shadow no-padding [hidden]="keyboard.isVisible">
    <button ion-button full no-margin class="center" button type="submit" form="form" [disabled]="produtorForm.invalid" >
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>