<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Recontagem de Planteis</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="bg-grey">
    <ion-searchbar (ionInput)="buscarRecontagens($event)" placeholder="Buscar..." [(ngModel)]="termo_busca"
                   [debounce]="500" [animated]="true" no-padding padding-bottom>
    </ion-searchbar>
    <ion-list >
        <ion-card *ngFor="let recontagem of recontagens" class="margin-bottom">
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/checklist.jpg">
                </ion-avatar>
                <h2>{{ recontagem.produtor }}</h2>
                <p>{{ recontagem.galpao }}</p>
                <p>Data da Recontagem {{ recontagem.data_recontagem | date:'dd/MM/yyyy'}}</p>
            </ion-item>
            <hr>
            <ion-row>
                <ion-col>
                    <button ion-button block icon-start small color="primary-2" (click)="show(recontagem.id)">
                        <ion-icon name="checkbox"></ion-icon>
                        <div>Ver Detalhes</div>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
</ion-content>

