<ion-tabs #tabs>
    <ion-tab [root]="tab1Root" tabTitle="Agenda" tabIcon="calendar"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Ações" tabIcon="construct"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Checklist" tabIcon="clipboard"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Produtores" tabIcon="people"></ion-tab>
</ion-tabs>