<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>
        <ion-title>Minha Conta</ion-title>

    </ion-navbar>
</ion-header>

<ion-content padding>
  <form id="form" [formGroup]="tecnicoForm" (ngSubmit)="update()" novalidate>
    <ion-list>
      <div text-center class="div-img-perfil">
          <button class="bg-none" type="button" (click)="openCamera()">
              <img class="form-picture" [src]="tecnicoForm.value.foto"/>
              <ion-icon class="camera" name="camera"></ion-icon>
          </button>
      </div>
        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input required formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Celular</ion-label>
            <ion-input required [brmasker]="{phone:true}" formControlName="celular"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Nova Senha:</ion-label>
            <ion-input type="password" formControlName="password" minlength="6"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Forçar Atualização dos dados</ion-label>
            <ion-checkbox formControlName="forcar_atualizacao"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label>Preenchimento Automático do Checklist</ion-label>
            <ion-checkbox formControlName="respostas_automaticas_chk"></ion-checkbox>
        </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer no-shadow no-padding [hidden]="keyboard.isVisible">
    <button ion-button full no-margin class="center" button type="submit" form="form" [disabled]="tecnicoForm.invalid" >
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>