<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Detalhes da Recontagem</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="custom bg-grey">
    <div id="print-to-share">
        <div padding class="bg-white padding-bottom-5">
            <ion-icon name="contact" class="icone-user"></ion-icon>
            <p class="title">{{ dados?.produtor }}</p>
            <p class="subtitle">{{ dados?.propriedade }} - {{ dados?.galpao }}</p>
        </div>

        <ion-grid class="bg-white">
             <ion-row>
                <ion-col>
                    <div class="bg-topo">
                        <b><p class="text-muted" text-center text-uppercase>Data Recontagem: {{ dados?.data_recontagem | date:'dd/MM/yyyy'}}</p></b>
                        <p text-center>Data Prevista: <b>{{ dados?.data_prevista | date:'dd/MM/yyyy' }}</b></p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div padding class="resultado-checklist bg-white" padding-horizontal padding-bottom>
            <div class="header">
                <ion-icon name="clipboard"></ion-icon>
                <h1 class="d-inline-block" text-center> Resultados da Recontagem</h1>
            </div>
            <hr class="hr-dashed">

            <ion-list class="bg-white">
                <h2>Saldo Real da Granja</h2>

                <table>
                    <tr>
                        <th>Leitoas não cobertas - L/N/C</th>
                        <td>{{ dados?.leitoas_nc }}</td>
                    </tr>
                    <tr>
                        <th>Leitoas cobertas - L/C + Matrizes Produtivas - M/P</th>
                        <td>{{ dados?.leitoas_c }}</td>
                    </tr>
                </table>

                <h2>Matrizes e Machos Descartes</h2>
                <table>
                    <tr>
                        <th>Fêmeas</th>
                        <td>{{ dados?.matrizes_desc }}</td>
                    </tr>
                    <tr>
                        <th>Machos</th>
                        <td>{{ dados?.machos_desc }}</td>
                    </tr>
                </table>

                <h2>Machos</h2>
                <table>
                    <tr>
                        <th>Inteiros</th>
                        <td>{{ dados?.machos_inteiros }}</td>
                    </tr>
                    <tr>
                        <th>Vasectomizados</th>
                        <td>{{ dados?.machos_vasec }}</td>
                    </tr>
                </table>

                <h2>Celas Úteis</h2>
                <table>
                    <tr  *ngFor="let cela of celas_uteis">
                        <th>{{ cela.descricao}}</th>
                        <td>{{ cela.quantidade }}</td>
                    </tr>
                </table>

                <h2>Saldo Cidasc</h2>
                <table>
                    <tr>
                        <th>Fêmeas</th>
                        <td>{{ dados?.saldo_cidasc_femeas }}</td>
                    </tr>
					<tr>
                        <th>Machos</th>
                        <td>{{ dados?.saldo_cidasc_machos }}</td>
                    </tr>
                </table>

                <h2>Saldo Agriness</h2>

                <table>
                    <tr>
                        <th>Leitoas não cobertas - L/N/C</th>
                        <td>{{ dados?.qtd_ags_lnc }}</td>
                    </tr>
                    <tr>
                        <th>Leitoas cobertas - L/C + Matrizes Produtivas - M/P</th>
                        <td>{{ dados?.qtd_ags_lc }}</td>
                    </tr>
                </table>

                <h2>Matrizes e Machos Descartes</h2>
                <table>
                    <tr>
                        <th>Fêmeas</th>
                        <td>{{ dados?.qtd_ags_mat_desc }}</td>
                    </tr>
                    <tr>
                        <th>Machos</th>
                        <td>{{ dados?.qtd_ags_mac_desc }}</td>
                    </tr>
                </table>

                <h2>Machos</h2>
                <table>
                    <tr>
                        <th>Inteiros</th>
                        <td>{{ dados?.qtd_ags_mac_int }}</td>
                    </tr>
                    <tr>
                        <th>Vasectomizados</th>
                        <td>{{ dados?.qtd_ags_mac_vas }}</td>
                    </tr>
                </table>

                <h2>Quantidade Contrato</h2>
                <table>
                    <tr>
                        <th>Plantel Fêmeas</th>
                        <td>{{ dados?.qtd_contrato_femeas }}</td>
                    </tr>
                    <tr>
                        <th>Cota de Leitões</th>
                        <td>{{ dados?.qtd_contrato_leitoes }}</td>
                    </tr>
                </table>

                <h2>Quantidade LAO Vigente</h2>
                <table>
                    <tr>
                        <th>Quantidade Licencas de Operação (LAO) Vigente</th>
                        <td>{{ dados?.qtd_lao_vigente }}</td>
                    </tr>
                </table>

                <h2>Informações Adicionais</h2>
                <table>
                    <tr>
                        <th>Plantel Produtivo</th>
                        <td>{{ dados?.plantel_produtivo }}</td>
                    </tr>
                    <tr>
                        <th>Celas de Maternidades</th>
                        <td>{{ dados?.celas_maternidades }}</td>
                    </tr>
                    <tr>
                        <th>Box de Gestação</th>
                        <td>{{ dados?.box_gestacao }}</td>
                    </tr>
                    <tr>
                        <th>Gestação Coletiva (2m² p/fêmea)</th>
                        <td>{{ dados?.gestacao_coletiva }}</td>
                    </tr>

                    <tr>
                        <th>Plantel Total</th>
                        <td>{{ dados?.celas_maternidades + dados?.box_gestacao + dados?.gestacao_coletiva }}</td>
                    </tr>
                </table>

				<h2>Observações</h2>
				<p>{{dados?.observacoes}}</p>

            </ion-list>

            <div style="height: 45px; width: 100%;"></div>
        </div>
    </div>

    <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="share"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab (click)="compartilhar()" color="primary"><ion-icon name="logo-whatsapp"></ion-icon></button>
            <button ion-fab (click)="compartilharPdf()" color="primary-2"><ion-icon name="document"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>

