<ion-header no-border>
    <ion-navbar class="transparente">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>

</ion-header>


<ion-content class="content-fundo" padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="scroll-content-div" (swipe)="swipe($event)">
        <h1>Agenda</h1>
        <ion-item class="bg-white" no-padding>
            <ion-label floating>Produtor</ion-label>
            <ionic-selectable item-content [(ngModel)]="propriedade" [items]="propriedades" required
                              itemValueField="id"
                              itemTextField="propriedade_concat_produtor"
                              searchPlaceholder="Buscar Propriedade..."
                              searchFailText="Nenhuma propriedade encontrada!"
                              [canSearch]="true"
                              (onChange)="getFilter()">
                <ng-template ionicSelectableCloseButtonTemplate>
                    <span ion-text color="white" showWhen="ios">Cancelar</span>
                    <ion-icon color="white" name="close-circle" style="font-size: 24px;"
                              showWhen="android,windows"></ion-icon>
                </ng-template>
            </ionic-selectable>
        </ion-item>

        <ion-segment [(ngModel)]="aba">
            <ion-segment-button value="dia">
                Dia
            </ion-segment-button>
            <ion-segment-button value="sem">
                Semana
            </ion-segment-button>
            <ion-segment-button value="mes">
                Mês
            </ion-segment-button>
			<ion-segment-button value="calendar">
                Calendário
            </ion-segment-button>
        </ion-segment>
    </div>

    <ion-scroll scrollY="true" [ngSwitch]="aba" style="height:77%" class="bg-grey scroll-content-margin">
        <ion-list *ngSwitchCase="'dia'">
            <ion-item>
                <ion-label>Evento</ion-label>
                <ion-select [(ngModel)]="tipo_consulta" interface="popover">
                    <ion-option (ionSelect)="getFilter()" value="0">Todos</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="1">Ações</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="2">Checklists</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="3">Recontagens</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="4">Visitas</ion-option>
                </ion-select>
            </ion-item>

            <ion-item [hidden]="eventListDay.length > 0" padding text-center text-wrap>
                <h2>Sem eventos registrados hoje!</h2>
            </ion-item>

            <ion-item *ngFor="let se of eventListDay" no-padding (click)="abrirModal(se)">
                <div class="item-icon" item-start>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-green" *ngIf="se.type == 1"></ion-icon>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-blue" *ngIf="se.type == 2"></ion-icon>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-purple" *ngIf="se.type == 3"></ion-icon>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-yellow" *ngIf="se.type == 4"></ion-icon>
                </div>
                <h2>{{se.title}}</h2>
                <h3>{{se.location}}</h3>
                <p>{{se.message}}</p>
                <div *ngIf="!chk_periodo && se.type == 2">
                    <p><b>{{se.to_apply}}</b></p>
                    <hr>
                    <p>Alojados em - {{se.alojamento | date: 'dd/MM/yyyy'}}</p>
                    <p>Previsão de Carregamento - {{se.carregamento | date: 'dd/MM/yyyy'}}</p>
                </div>
                <p>
                    <ion-badge [color]="compareDate(se.date_limit) ? 'danger':'secondary'">{{ se.date_limit | date:'dd/MM/yyyy' }}</ion-badge>
                </p>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'sem'">
            <ion-item>
                <ion-label>Evento</ion-label>
                <ion-select [(ngModel)]="tipo_consulta" interface="popover">
                    <ion-option (ionSelect)="getFilter()" value="0">Todos</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="1">Ações</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="2">Checklists</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="3">Recontagens</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="4">Visitas</ion-option>
                </ion-select>
            </ion-item>

            <ion-item [hidden]="eventListWeek.length > 0" padding text-center text-wrap>
                <h2>Sem eventos registrados para esta semana!</h2>
            </ion-item>

            <ion-item *ngFor="let se of eventListWeek" no-padding (click)="abrirModal(se)">
                <div class="item-icon" item-start>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-green" *ngIf="se.type == 1"></ion-icon>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-blue" *ngIf="se.type == 2"></ion-icon>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-purple" *ngIf="se.type == 3"></ion-icon>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-yellow" *ngIf="se.type == 4"></ion-icon>
                </div>
                <h2>{{se.title}}</h2>
                <h3>{{se.location}}</h3>
                <p>{{se.message}}</p>
                <div *ngIf="!chk_periodo && se.type == 2">
                    <p><b>{{se.to_apply}}</b></p>
                    <hr>
                    <p>Alojados em - {{se.alojamento | date: 'dd/MM/yyyy'}}</p>
                    <p>Previsão de Carregamento - {{se.carregamento | date: 'dd/MM/yyyy'}}</p>
                </div>
                <p>
                    <ion-badge [color]="compareDate(se.date_limit) ? 'danger':'secondary'">{{ se.date_limit | date:'dd/MM/yyyy' }}</ion-badge>
                </p>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'mes'">
            <ion-item>
                <ion-label>Mês</ion-label>
                <ion-select [(ngModel)]="mes_consulta" interface="popover">
                    <ion-option (ionSelect)="changeMesConsulta()" value="1">Janeiro</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="2">Fevereiro</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="3">Março</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="4">Abril</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="5">Maio</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="6">Junho</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="7">Julho</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="8">Agosto</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="9">Setembro</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="10">Outubro</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="11">Novembro</ion-option>
                    <ion-option (ionSelect)="changeMesConsulta()" value="12">Dezembro</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Evento</ion-label>
                <ion-select [(ngModel)]="tipo_consulta" interface="popover">
                    <ion-option (ionSelect)="getFilter()" value="0">Todos</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="1">Ações</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="2">Checklists</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="3">Recontagens</ion-option>
                    <ion-option (ionSelect)="getFilter()" value="4">Visitas</ion-option>
                </ion-select>
            </ion-item>

            <ion-item [hidden]="eventListMonth.length > 0" padding text-center text-wrap>
                <h2>Sem eventos registrados para este mês!</h2>
            </ion-item>

            <ion-item *ngFor="let se of eventListMonth" no-padding (click)="abrirModal(se)">
                <div class="item-icon" item-start>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-green" *ngIf="se.type == 1"></ion-icon>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-blue" *ngIf="se.type == 2"></ion-icon>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-purple" *ngIf="se.type == 3"></ion-icon>
                    <ion-icon name="{{se.icon}}" no-padding class="bg-yellow" *ngIf="se.type == 4"></ion-icon>
                </div>
                <h2>{{se.title}}</h2>
                <h3>{{se.location}}</h3>
                <p>{{se.message}}</p>
                <div *ngIf="!chk_periodo && se.type == 2">
                    <p><b>{{se.to_apply}}</b></p>
                    <hr>
                    <p>Alojados em - {{se.alojamento | date: 'dd/MM/yyyy'}}</p>
                    <p>Previsão de Carregamento - {{se.carregamento | date: 'dd/MM/yyyy'}}</p>
                </div>
                <p>
                    <ion-badge [color]="compareDate(se.date_limit) ? 'danger':'secondary'">{{ se.date_limit | date:'dd/MM/yyyy' }}</ion-badge>
                </p>
            </ion-item>
        </ion-list>

		<ion-list *ngSwitchCase="'calendar'" class="calendar">
            <ion-item no-padding padding-top>
				<div class="shadow">
					<div class="calendar-header">
						<ion-row class="calendar-month">
							<ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
							<ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
							<ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
						</ion-row>
					</div>
					<div class="calendar-body" >
						<ion-grid>
							<ion-row class="calendar-weekday">
								<ion-col>Dom</ion-col>
								<ion-col>Seg</ion-col>
								<ion-col>Ter</ion-col>
								<ion-col>Qua</ion-col>
								<ion-col>Qui</ion-col>
								<ion-col>Sex</ion-col>
								<ion-col>Sab</ion-col>
							</ion-row>
							<ion-row class="calendar-date">
								<ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
								<ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
									<span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
									<span class="selectDate" *ngIf="selectedDay === day">{{day}}</span>
									<div *ngIf="!(checkEvent(day) && (selectedDay !== day || selectedDay == null))" class="daySpace"></div>
									<ng-template #otherDate class="otherDate">
										<span *ngIf="selectedDay !== day || selectedDay == null">{{day}}<br></span>
										<div [class]="(day < currentDate) && (currentMonthNumber <= nowMonthNumber) ? 'event-bullet bg-error':'event-bullet bg-success'" *ngIf="checkEvent(day) && (selectedDay !== day || selectedDay == null)"></div>
									</ng-template>
								</ion-col>
								<ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
							</ion-row>
						</ion-grid>
					</div>
				</div>
            </ion-item>
			<ion-item no-padding>
				<div class="selected-event">
					<ion-scroll  style="width:100%;height:39vh" scrollY="true" no-padding>
						<ion-list>
							<ion-item [hidden]="eventListCalendar.length > 0" padding text-center text-wrap>
								<h2>Sem eventos registrados para este mês!</h2>
								<p>Os eventos consideram Ações e Checklists com vencimentos no mês!</p>
							</ion-item>
							<ion-item *ngFor="let se of eventListCalendar" no-padding (click)="abrirModal(se)">
								<div class="item-icon" item-start>
									<ion-icon name="{{se.icon}}" no-padding class="bg-green" *ngIf="se.type == 1"></ion-icon>
									<ion-icon name="{{se.icon}}" no-padding class="bg-blue" *ngIf="se.type == 2"></ion-icon>
								</div>
								<h2>{{se.message}}</h2>
								<p>{{se.location}}</p>
								<div *ngIf="!chk_periodo">
									<p><b>{{se.to_apply}}</b></p>
									<hr>
									<p>Alojados em - {{se.alojamento | date: 'dd/MM/yyyy'}}</p>
									<p>Previsão de Carregamento - {{se.carregamento | date: 'dd/MM/yyyy'}}</p>
								</div>
								<ion-note item-end [class]="compareDate(se.date_limit) ? 'date-item bg-error':'date-item bg-success'" color="light">{{ se.date_limit | date:'dd' }}</ion-note>
							</ion-item>
						</ion-list>
					</ion-scroll>
				</div>
			</ion-item>

        </ion-list>

    </ion-scroll>

</ion-content>
