page-agenda {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  .scroll-content-div {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .scroll-content-margin {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .bg-white{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .item-icon {
    margin-left: 5px;
    ion-icon {
      color: #fff;
      padding: 5px;
      border-radius: 50%;
      min-width: 30px;
      min-height: 30px;
      text-align: center;
    }

    .bg-green {
      background-color: #26ab56;
    }

    .bg-blue {
      background-color: color($colors, primary-2);
    }

    .bg-purple {
      background-color: color($colors, tertiary);
    }

    .bg-yellow {
      background-color: color($colors, warning);
    }
  }

  .label-md {
    margin: 5px 8px 5px 0;
  }

	.calendar{
		.label-md {
			margin: 0 0 0 0 !important;
		}
		.item-inner{
			padding-right: 0!important;
		}
	}

  /*Antigo css do calendario*/

  .content-calendar {
    height: 50vh !important;
    background-color: transparent !important;

    .fixed-content {
      margin-bottom: 0 !important;
    }

    .scroll-content {
      margin-bottom: 0 !important;
    }
  }

  h1 {
    color: #fff;
    margin-top: 0;
    text-align: center;
  }

  .shadow {
    box-shadow: 0px 3px 8px 0px rgba(56, 55, 56, 1);
  }

  .daySpace{
    margin-bottom: 10px !important;
  }

  .scroll-content {
    padding: 0 !important;
  }

  .no-padding-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
    margin-bottom: 9px !important;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    color: #26ab56;
    border-radius: 30px;
  }
  .selectDate {
    font-weight: bold;
    background-color: #26ab56;
    color: white;
    border-radius: 30px;
    padding: 3px;
  }
  .calendar-header {
    background-color: #1a732d;
    color: #FFFFFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;

    &.bg-success{
      background-color: #019613;

    }

    &.bg-error{
      background-color: #f53d3d;
    }
  }
  .selected-event {
	  padding-top: 10px;

    ion-note {
      font-size: 12px;
      align-self: flex-start;
      margin-top: 14px;
      padding: 4px;
      border-radius: 50%;
      font-weight: bold;
      color: #ffffff;

      &.bg-success{
        background-color: #019613;

      }

      &.bg-error{
        background-color: #f53d3d;
      }
    }

    .scroll-content{
      box-shadow: 0 5px 0 0 #fff;
      background-color: #fff;
    }

    .item-icon {
      margin-left: 5px;
      ion-icon {
        color: #fff;
        padding: 5px;
        border-radius: 50%;
        min-width: 30px;
        min-height: 30px;
        text-align: center;
      }

      .bg-green {
        background-color: #26ab56;
      }

      .bg-blue {
        background-color: color($colors, primary-2);
      }
    }
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px #1a732d;
      background-color: #26ab56;
      color: #ffffff;
    }
    .calendar-date {
      border-top: solid 1px #1a732d;
      border-bottom: solid 1px #1a732d;
      background-color: #ffffff;
    }
  }

  ion-segment{
    background-color: #fff;
  }
}
