<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()" class="back-button-modal">
                <ion-icon color="white" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Coletar Assinatura Digital
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div #fixedContainer ion-fixed>
        <canvas #imageCanvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
    </div>



</ion-content>

<ion-footer no-shadow no-padding>
    <ion-row no-padding>
        <ion-col>
            <button ion-button block (click)="limparTela()" color="grey-light">
                <ion-icon name="trash" margin-right></ion-icon>
                Limpar
            </button>
        </ion-col>
        <ion-col>
            <button ion-button block (click)="dismiss(true)">
                <ion-icon name="checkmark-circle" margin-right></ion-icon>
                Salvar
            </button>
        </ion-col>
    </ion-row>
</ion-footer>

