<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Galpões</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="bg-grey">
    <ion-searchbar (ionInput)="buscarGalpoes($event)" placeholder="Buscar..." [(ngModel)]="termo_busca"
                   [debounce]="800" [animated]="true" no-padding padding-bottom>
    </ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let galpao of galpoes">
            <ion-thumbnail item-start>
                <img [src]="galpao.foto">
            </ion-thumbnail>
            <h2>{{ galpao.produtor }}</h2>
            <h3>{{ galpao.propriedade }} - {{ galpao.descricao }}</h3>
            <p>{{ galpao.municipio }} - {{ galpao.uf}}</p>

            <button ion-button item-end color="c-orange" small (click)="editar(galpao.id)">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>

