page-perguntas {
  .success{
    text-align: center;
    font-weight: bold;
    background-color: #18ab5e;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
  }

  .danger{
    text-align: center;
    font-weight: bold;
    background-color: #de0010;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
  }

  ion-card-content{
    h2{
      padding: 4% 2% 0 3%;
    }
  }

  .has-error{
    border: 1px solid #d40000;
    box-shadow: 1px 2px 6px #d45559;
  }
}
