<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()" class="back-button-modal">
                <ion-icon color="white" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            {{ descricao}}
        </ion-title>
    </ion-toolbar>
    <p text-center>
        Percentual Checklist: <ion-badge color="secondary-2">{{total_respostas | number:'1.1-2' }}%</ion-badge>
    </p>
</ion-header>

<ion-content padding>
    <form id="form" [formGroup]="respostasFrom" (ngSubmit)="store()">
        <div formArrayName="respostas">
            <div *ngFor="let pergunta of respostasFrom.get('respostas').controls; let i=index">
                <ion-card [formGroupName]="i" [ngClass]="{'has-error' : respostasFrom.value.respostas[i].isInvalid}">
                    <img *ngIf="respostasFrom.value.respostas[i].foto_base64 == null" [src]="respostasFrom.value.respostas[i].thumb_foto == null ? respostasFrom.value.respostas[i].foto : respostasFrom.value.respostas[i].thumb_foto" (click)="capturaFoto(i)"/>
                    <img *ngIf="respostasFrom.value.respostas[i].foto_base64 != null" [src]="respostasFrom.value.respostas[i].foto_base64" (click)="capturaFoto(i)"/>
                    <ion-card-content no-padding>
                        <h2><b>{{ i+1 }} - </b> {{respostasFrom.value.respostas[i].descricao}}</h2>
                    </ion-card-content>

                    <hr>
                    <ion-row no-padding>
                        <ion-col>
                            <button ion-button type="button" small [disabled]="(respostasFrom.value.respostas[i].resposta)" icon-start (click)="responderPergunta(i, 1)">
                                <ion-icon name="thumbs-up"></ion-icon>
                                Conforme
                            </button>
                        </ion-col>

                        <ion-col text-right>
                            <button ion-button type="button" small color="danger" [disabled]="(!respostasFrom.value.respostas[i].resposta) && (respostasFrom.value.respostas[i].resposta != null) " icon-start (click)="responderPergunta(i, 0)">
                                <ion-icon name="thumbs-down"></ion-icon>
                                Não Conforme
                            </button>
                        </ion-col>

                        <ion-col col-12 *ngIf="respostas_nulas">
                            <button ion-button type="button" small full color="grey-light" [disabled]="respostasFrom.value.respostas[i].nao_se_aplica" icon-start (click)="responderPergunta(i, null, 1)">
                                <ion-icon name="remove-circle"></ion-icon>
                                Não Se Aplica
                            </button>
                        </ion-col>

                        <ion-col col-12 *ngIf="(!respostasFrom.value.respostas[i].resposta) && (respostasFrom.value.respostas[i].resposta != null)">
                            <button ion-button type="button" full icon-start color="primary-2" *ngIf="!respostasFrom.value.respostas[i].com_acao"
                                    (click)="abreModalAcao(respostasFrom.value.respostas[i].pergunta_id, respostasFrom.value.respostas[i].parametro_id, i)"
                                    [disabled]="(respostasFrom.value.respostas[i].acao_id > 0)">
                                <ion-icon name="construct"></ion-icon>
                                Gerar Ação
                            </button>
                            <button ion-button type="button" full icon-start color="primary-2" *ngIf="respostasFrom.value.respostas[i].com_acao" [disabled]="true" >
                                <ion-icon name="construct"></ion-icon>
                                Ação Aberta
                            </button>
                        </ion-col>
                    </ion-row>

                </ion-card>
            </div>
        </div>
    </form>

</ion-content>

<ion-footer no-shadow no-padding>
    <button ion-button full no-margin class="center" button type="submit" form="form">
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>
