<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()" class="back-button-modal">
                <ion-icon color="white" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Baixar Ação
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form id="form" [formGroup]="baixaAcaoForm" (ngSubmit)="baixarAcao()" novalidate>

        <ion-list>
            <ion-card>
                <ion-card-header>
                    {{ acao.produtor_propriedade}}
                </ion-card-header>
                <ion-card-content>
                    <p><b>O Que:</b> {{ acao.o_que }}</p>
                    <p><b>Como:</b> {{ acao.como }}</p>
                    <p><b>Quem:</b> {{ acao.quem }} </p>
                    <p><b>Até Quando:</b>
                        <ion-badge [color]="acao.quando >= now ? 'secondary':'danger'">
                            {{ acao.quando | date:'dd/MM/yyyy'}}
                        </ion-badge>
                    </p>
                </ion-card-content>
            </ion-card>

            <ion-item class="form-required">
                <ion-label floating>Solucionado</ion-label>
                <ion-select formControlName="resolvido" required interface="popover">
                    <ion-option [value]="1" (ionSelect)="setLabelResposta(true)">Sim</ion-option>
                    <ion-option [value]="0" (ionSelect)="setLabelResposta(false)">Não</ion-option>
                </ion-select>
            </ion-item>

            <ion-item class="form-required" *ngIf="baixaAcaoForm.value.resolvido == 0">
                <ion-label>Data Prevista</ion-label>
                <ion-input [readonly]="true"></ion-input>
            </ion-item>
            <ion-calendar *ngIf="baixaAcaoForm.value.resolvido == 0" formControlName="data_prevista" [format]="'YYYY-MM-DD'" [options]="options" required (onChange)="setJustificativaPadrao()"></ion-calendar>

            <ion-item class="form-required">
                <ion-label floating>{{ labelResposta }}</ion-label>
                <ion-textarea rows="6" formControlName="resposta" autocapitalize="on" autocomplete="on" required></ion-textarea>
            </ion-item>

        </ion-list>
    </form>

    <hr>

    <div class="pins">
        <div class="pin" *ngFor="let foto of fotos">
            <ion-card no-margin>
                <img [src]="foto.img"/>
                <button ion-button icon-only full no-margin small color="danger" (click)="removeFoto(foto)">
                    <ion-icon name="trash"></ion-icon>
                    Apagar
                </button>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-fab right bottom>
    <button ion-fab color="light" (click)="newFoto()"><ion-icon name="camera"></ion-icon></button>
</ion-fab>

<ion-footer no-shadow no-padding>
    <button ion-button full no-margin class="center" button type="submit" form="form"
            [disabled]="baixaAcaoForm.invalid">
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>