<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Atualizar Galpão</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="galpaoForm" id="form" (ngSubmit)="store()" novalidate>
        <ion-item class="form-required">
            <ion-label floating>Produtor</ion-label>
            <ion-input required formControlName="produtor" readonly="true"></ion-input>
        </ion-item>

        <ion-item *ngIf="!integracao_aves" class="form-required">
            <ion-label floating>Propriedade</ion-label>
            <ion-input required formControlName="propriedade" readonly="true"></ion-input>
        </ion-item>

		<ion-item  class="form-required">
			<ion-label floating>Código ERP</ion-label>
			<ion-input formControlName="codErp" type="number"></ion-input>
		</ion-item>

        <ion-item class="form-required">
            <ion-label floating>Nome do galpao</ion-label>
            <ion-input required formControlName="descricao" autocapitalize="on" autocomplete="on" class="toUpper"></ion-input>
        </ion-item>

        <ion-item class="form-required">
            <ion-label floating>Lotacao</ion-label>
            <ion-input required formControlName="lotacao" type="number" step="0.01"></ion-input>
        </ion-item>

        <ion-item class="form-required">
            <ion-label floating>Baias</ion-label>
            <ion-input required formControlName="baias" type="number" step="0.01"></ion-input>
        </ion-item>

        <ion-item class="form-required">
            <ion-label floating>Altura</ion-label>
            <ion-input required formControlName="altura" type="number" step="0.01"></ion-input>
        </ion-item>

        <ion-item class="form-required">
            <ion-label floating>Largura</ion-label>
            <ion-input required formControlName="largura" (ionChange)="calculaMt2()" type="number" step="0.01"></ion-input>
        </ion-item>

        <ion-item class="form-required">
            <ion-label floating>Comprimento</ion-label>
            <ion-input required formControlName="comprimento" (ionChange)="calculaMt2()" type="number" step="0.01"></ion-input>
        </ion-item>

        <ion-item class="form-required">
            <ion-label floating>Metros Quadrados</ion-label>
            <ion-input required formControlName="metros_quadrados" type="number" step="0.01" (ionFocus)="calculaMt2()" ></ion-input>
        </ion-item>

        <ion-item *ngIf="!integracao_aves">
            <ion-label floating>Tipo de Comedouro</ion-label>
            <ionic-selectable item-content #tipoComedouroSelect formControlName="tipo_comedouro_id" [items]="tipo_comedouros" required
                              itemValueField="id"
                              itemTextField="descricao"
                              searchPlaceholder="Buscar Comedouros..."
                              searchFailText="Nenhum comedouro encontrado!"
                              [canSearch]="true">
                <ng-template ionicSelectableCloseButtonTemplate>
                    <span ion-text color="white" showWhen="ios">Cancelar</span>
                    <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
                </ng-template>
            </ionic-selectable>
        </ion-item>

        <ion-item *ngIf="integracao_aves">
            <ion-label floating>Tipo de Galpões</ion-label>
            <ionic-selectable item-content #tipoComedouroSelect formControlName="tipo_galpao_id" [items]="tipo_galpoes" required
                              itemValueField="id"
                              itemTextField="descricao"
                              searchPlaceholder="Buscar Tipos..."
                              searchFailText="Nenhum tipo encontrado!"
                              [canSearch]="true">
                <ng-template ionicSelectableCloseButtonTemplate>
                    <span ion-text color="white" showWhen="ios">Cancelar</span>
                    <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
                </ng-template>
            </ionic-selectable>
        </ion-item>

        <ion-item>
            <ion-label>Ativo</ion-label>
            <ion-checkbox formControlName="ativo"></ion-checkbox>
        </ion-item>
    </form>

    <button ion-button full class="center" type="button" (click)="removerGalpao()" color="danger">
        <ion-icon name="trash" margin-right></ion-icon>
        Apagar Galpão
    </button>
    <hr>

    <div class="pins">
        <div class="pin" *ngFor="let foto of fotos">
            <ion-card no-margin>
                <img [src]="foto.img"/>
                <ion-row no-margin no-padding>
                    <ion-col col-6 no-margin no-padding>
                        <button ion-button icon-only full no-margin small [disabled]="foto.principal == true || foto.principal == 'true'" (click)="marcaPrincipal(foto)">
                            <ion-icon name="checkmark-circle"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-6 no-margin no-padding>
                        <button ion-button icon-only full no-margin small color="danger" (click)="removeFoto(foto)">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-fab right bottom>
    <button ion-fab color="light" (click)="newFoto()"><ion-icon name="camera"></ion-icon></button>
</ion-fab>

<ion-footer no-shadow no-padding [hidden]="keyboard.isVisible">
    <button ion-button full no-margin class="center" button type="submit" form="form" [disabled]="galpaoForm.invalid" >
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>
