page-relatorios-show {
  .custom{
    .icone-user{
      float:left;
      font-size: 2em;
      margin-top: 10px;
      color: #a5a3a3;
    }

    .title{
      margin-top: 1px;
      margin-left: 9%;
      margin-bottom: 5px;
      font-size: 1.3em;
    }

    .subtitle{
      margin-top: 0;
      margin-left: 9%;
      margin-bottom: 0;
      color: #848181;
    }

    .col{
      font-size: 0.9em;
      padding: 5px;
      min-height: 130px;

      .bg-topo{
        background-color: #f6f6f6;
        border-radius: 4px;
        padding: 5px 10px;

        .badge-line{
          border: 1px solid #373737;
          border-radius: 7px;
          color: #575757;
          background-color: white;
        }

        p{
          margin: 4px 0;
          color: color($colors, c-grey);
        }
      }

      .mg-r5{
        margin-right: 5px;
      }
    }

    .resultado-checklist{
      .icon{
        float:left;
        font-size: 1.8em;
        margin-right: 5px;
        color: #717171;
      }

      h1{
        font-size: 1.2em;
        color: #717171;
        margin: 0 0 10px 0;
        padding-top: 4px;
      }

      h2{
        font-size: 1.5em;
        color: #717171;
        text-align: center;
        border-bottom: 1px solid color($colors, primary);
        padding: 7px 0;
        margin: 0;
      }

      h3{
        color: #717171;
        padding: 5px 0 0 0;
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border-top: 1px solid color($colors, grey-light);
      }

      th, td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2
      }
    }

    .totalizadores{
      .col{
        border-top: 1px solid color($colors, grey-light);
        border-bottom: 1px solid color($colors, grey-light);
        min-height: 50px;
        border-left: 1px solid color($colors, grey-light);

        &:first-child{
          border-left: none;
        }


      }

      h2{
        border-bottom: none;
      }

    }
  }

  .text-green{
    color: color($colors, c-green) !important;
  }

  .text-pink{
    color: color($colors, c-pink) !important;
  }

  .text-blue{
    color: color($colors, c-blue) !important;
  }

  .text-red{
    color: color($colors, c-red) !important;
  }

  .text-muted{
    color: color($colors, c-grey) !important;
  }

  .no-border-top{
    border-top: none !important;
  }

  .padding-bottom-5{
    padding-bottom: 5px !important;
  }

}
