<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Detalhes do Checklist</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="custom bg-grey">
    <div id="print-to-share">
        <div padding class="bg-white padding-bottom-5">
            <ion-icon name="contact" class="icone-user"></ion-icon>
            <p class="title">{{ dados?.produtor_nome }}</p>
            <p class="subtitle">{{ dados?.propriedade_descricao }} - {{ dados?.galpao_descricao }}</p>
        </div>

        <ion-grid class="bg-white {{local == lote ? 'padding-bottom-5':''}}">
            <ion-row *ngIf="local == 'lote'">
                <ion-col col-6>
                    <div class="bg-topo mg-r5">
                        <p class="text-muted" text-uppercase="">Lote #{{ dados?.nro_lote }}</p>
                        <p>Situação: <span class="text-green"><b>{{ dados?.status }}</b></span></p>
                        <p>Sexo: <span class="text-pink"><b>{{ dados?.sexo}}</b></span></p>
                        <p>Linhagem: <span class="text-pink"><b>{{ dados?.linhagem}}</b></span></p>
                        <p>Total de Animais: <span><b>{{ dados?.nro_animais }}</b></span></p>
                        <p>Data Alojamento: <b>{{ dados?.data_alojamento | date:'dd/MM/yyyy'}}</b></p>
                    </div>
                </ion-col>
                <ion-col col-6>
                    <div class="bg-topo">
                        <p>Avaliações Aplicadas: <b>{{ dados?.avaliacoes_count }}</b></p>
                        <p>Questões Avaliadas: <b>{{ dados?.respostas_count }}</b></p>
                        <p>Pontos Ganhos: <b>{{ ((dados?.pts_total_conf-dados?.pts_total_n_conf)/dados?.avaliacoes_count) | number:'1.1-2' }}%</b></p>
                        <p *ngIf="pgto_chk_kg">
                            Peso Recebido:
                            <b>Kg {{ dados?.total_peso_av | number:'1.3-3' }}</b>
                            de Kg {{ dados?.peso_chk | number : '1.3-3'}}
                        </p>
                        <p *ngIf="!pgto_chk_kg" >Reais Ganhos:<b>
                            {{ ((((dados?.pts_total_conf-dados?.pts_total_n_conf)/dados?.avaliacoes_count)*dados?.valor_total_chk)/(100 - dados?.pts_total_resp_nulas)) | currency:'BRL':true}}</b>
                            de {{ dados?.valor_total_chk | currency:'BRL':true}}
                        </p>
                        <p *ngIf="pgto_chk_kg">Reais Ganhos: <b>
                            {{ dados?.total_peso_av*(dados?.valor_total_chk*dados?.peso_chk) | currency:'BRL':true}}</b>
                            de {{ (dados?.valor_total_chk*dados?.peso_chk) | currency:'BRL':true}}
                        </p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row  *ngIf="local == 'periodo'">
                <ion-col>
                    <div class="bg-topo">
                        <b><p class="text-muted" text-uppercase="">Período: {{ dados?.intervalo }}</p></b>
                        <p>Avaliações Aplicadas: <b>{{ dados?.avaliacoes_count }}</b></p>
                        <p>Questões Avaliadas: <b>{{ dados?.respostas_count }}</b></p>
                        <p>Pontos Ganhos: <b>{{(((dados?.pts_total_conf-dados?.pts_total_n_conf)*100)/(dados?.pts_total_chk - dados?.pts_total_resp_nulas))  | number:'1.1-2' }}%</b></p>
                        <p *ngIf="pgto_chk_kg">
                            Peso Recebido:
                            <b>Kg {{ (dados?.peso_total_conf)| number:'1.3-3' }}</b>
                            de Kg {{ dados?.peso_chk | number : '1.3-3'}}
                        </p>
                        <p *ngIf="!pgto_chk_kg">Reais Ganhos: <b>
                            {{ (((dados?.pts_total_conf-dados?.pts_total_n_conf)*dados?.valor_total_chk)/(100 - dados?.pts_total_resp_nulas)) | currency:'BRL':true}}</b>
                            de {{ dados?.valor_total_chk | currency:'BRL':true}}
                        </p>
                        <p *ngIf="pgto_chk_kg">Reais Ganhos: <b>
                            {{ (dados?.peso_total_conf*dados?.valor_total_chk) | currency:'BRL':true}}</b>
                            de {{ (dados?.valor_total_chk*dados?.peso_chk) | currency:'BRL':true}}
                        </p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div padding class="resultado-checklist bg-white">
            <div class="header">
                <ion-icon name="clipboard"></ion-icon>
                <h1 class="d-inline-block"> Resultados do Questionário</h1>
            </div>

            <ion-list *ngFor="let questionario of questionarios" class="bg-white">
                <h2>{{ questionario.descricao }}</h2>

                <table>
                    <tr>
                        <th>Conformes</th>
                        <td>{{ questionario.conformes }}</td>
                    </tr>
                    <tr>
                        <th>Não Conformes</th>
                        <td>{{ questionario.nao_conformes }}</td>
                    </tr>
                    <tr *ngIf="respostas_nulas">
                        <th>Não Se Aplica</th>
                        <td>{{ questionario.nao_se_aplica }}</td>
                    </tr>
                    <tr>
                        <th>Pontuação Atingida</th>
                        <td>{{ (questionario.pts_total_conf-questionario.pts_total_n_conf)  | number:'1.1-2' }}%</td>
                    </tr>
                    <tr *ngIf="considerar_cotacao">
                        <th>Valor do Checklist</th>
                        <td *ngIf="considerar_cotacao">{{ ((questionario.valor_total_chk*questionario.total_peso_av)*((questionario.peso_chk*100)/questionario.total_peso_av))/100 | currency:'BRL':true}}</td>
                    </tr>
                    <tr *ngIf="!considerar_cotacao">
                        <th>Valor do Checklist</th>
                        <td>{{ questionario.valor_total_chk | currency:'BRL':true}}</td>
                    </tr>
                    <tr *ngIf="pgto_chk_kg">
                        <th>Peso do Checklist</th>
                        <td>Kg {{ questionario.peso_chk | number:'1.3-3'}}</td>
                    </tr>
                    <tr *ngIf="pgto_chk_kg">
                        <th>Peso do Atingido</th>
                        <td *ngIf="considerar_cotacao">Kg {{ (questionario.peso_chk*(questionario.pts_total_conf-questionario.pts_total_n_conf))/100 | number:'1.3-3'}}</td>
                        <td *ngIf="!considerar_cotacao">>Kg {{ (questionario.peso_chk*(questionario.pts_total_conf-questionario.pts_total_n_conf))/(100 - questionario.pts_total_resp_nulas) | number:'1.3-3'}}</td>
                    </tr>
                    <tr *ngIf="local == 'lote'">
                        <th>Valor Atingido</th>

                        <td *ngIf="considerar_cotacao">{{ (questionario.valor_total_chk*questionario.total_peso_av) | currency:'BRL':true }}</td>
                        <td *ngIf="!considerar_cotacao">{{ (((questionario.pts_total_conf-questionario.pts_total_n_conf)*questionario.valor_total_chk)/(100 - questionario.pts_total_resp_nulas)) | currency:'BRL':true }}</td>
                    </tr>
                    <tr *ngIf="local == 'periodo'">
                        <th>Valor Atingido</th>
                        <td *ngIf="considerar_cotacao">{{ (((questionario.valor_total_chk * questionario.total_peso_av)*((questionario.peso_chk*100)/questionario.total_peso_av)/100)*(questionario.pts_total_conf-questionario.pts_total_n_conf))/100 | currency:'BRL':true }}</td>
                        <td *ngIf="!considerar_cotacao">{{ (((questionario.pts_total_conf-questionario.pts_total_n_conf)*questionario.valor_total_chk)/(100 - questionario.pts_total_resp_nulas)) | currency:'BRL':true }}</td>
                    </tr>
                </table>

            </ion-list>

            <ion-icon name="ribbon"></ion-icon>
            <h1 class="d-inline-block"> Resultado Final da Avaliação</h1>

            <ion-grid class="bg-white">
                <ion-row class="totalizadores">
                    <ion-col>
                        <div>
                            <p text-center class="text-muted">Conformes</p>
                            <h2 class="text-green">{{ totais?.total_conformes }}</h2>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p text-center class="text-muted">Não Conformes</p>
                            <h2 class="text-red">{{ totais?.total_nao_conformes }}</h2>
                        </div>
                    </ion-col>
                    <ion-col *ngIf="respostas_nulas">
                        <div>
                            <p text-center class="text-muted">Não Se Aplica</p>
                            <h2 class="text-muted">{{ totais?.total_nao_se_aplica }}</h2>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <canvas #pesoCanvas></canvas>

            <hr>

            <table class="no-border-top">
                <tr>
                    <th>Total de Avaliações Aplicadas</th>
                    <td>{{ dados?.avaliacoes_count }}</td>
                </tr>
                <tr>
                    <th>Valor Máximo</th>
                    <td *ngIf="!pgto_chk_kg">{{ dados?.valor_total_chk | currency:'BRL':true}}</td>
                    <td *ngIf="pgto_chk_kg">{{ dados?.valor_total_chk*dados?.peso_chk | currency:'BRL':true}}</td>
                </tr>
                <tr *ngIf="pgto_chk_kg">
                    <th>Peso Checklist</th>
                    <td>Kg {{ dados?.peso_chk | number : '1.3-3'}}</td>
                </tr>
                <tr *ngIf="pgto_chk_kg">
                    <th>Peso Acumulado</th>

                    <td *ngIf="local == 'lote'">Kg {{ dados?.total_peso_av | number : '1.3-3'}}</td>
                    <td *ngIf="local != 'lote'">Kg {{ (dados?.peso_total_conf) | number : '1.3-3'}}</td>
                </tr>
                <tr>
                    <th>Pontuação Acumulada</th>
                    <td *ngIf="!pgto_chk_kg && local != 'lote'">{{ (dados?.pts_total_conf-dados?.pts_total_n_conf) | number:'1.1-2' }}%</td>
                    <td *ngIf="pgto_chk_kg && local != 'lote'">{{ (dados?.pts_total_conf-dados?.pts_total_n_conf) | number:'1.1-2' }}%</td>
                    <td *ngIf="pgto_chk_kg && local == 'lote'">{{ ((dados?.pts_total_conf-dados?.pts_total_n_conf)/dados?.avaliacoes_count) | number:'1.1-2' }}%</td>
                    <td *ngIf="!pgto_chk_kg && local == 'lote'">{{ (dados?.pts_total_conf-dados?.pts_total_n_conf) | number:'1.1-2' }}%</td>
                </tr>

                <tr>
                    <th>Valor Atingido</th>
                    <td *ngIf="pgto_chk_kg && local == 'lote'">{{ dados?.total_peso_av*(dados?.valor_total_chk*dados?.peso_chk) | currency:'BRL':true}}</td>
                    <td *ngIf="pgto_chk_kg && local != 'lote'">{{ (dados?.peso_total_conf*dados?.valor_total_chk) | currency:'BRL':true}}</td>
                    <td *ngIf="!pgto_chk_kg">{{ ((dados?.pts_total_conf-dados?.pts_total_n_conf)*dados?.valor_total_chk)/(100 - dados?.pts_total_resp_nulas) | currency:'BRL':true}}</td>
                </tr>
            </table>
            <!--Div de respiro no layout para o btn de compartilhar-->
            <div style="height: 45px; width: 100%;"></div>
        </div>
    </div>

    <!--<ion-fab right bottom>-->
        <!--<button ion-fab color="primary-2" (click)="compartilhar()"><ion-icon name="share"></ion-icon></button>-->
    <!--</ion-fab>-->

    <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="share"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab (click)="compartilhar()" color="primary"><ion-icon name="logo-whatsapp"></ion-icon></button>
            <button ion-fab (click)="compartilharPdf()" color="primary-2"><ion-icon name="document"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>

