<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()" class="back-button-modal">
                <ion-icon color="white" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Nova Ação
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="acaoForm" id="form" (ngSubmit)="gerarAcao()" novalidate>
        <ion-list>
            <ion-card>
                <ion-card-header>
                    {{propriedade?.propriedade_concat_produtor}}
                </ion-card-header>
                <ion-card-content>
                    <p><b>Grupo:</b> {{ parametro.grupo_descricao}}</p>
                    <p><b>Ponte de Ação:</b> {{ parametro.ponto_descricao}}</p>
                    <p><b>Parâmetro:</b> {{ parametro.descricao}}</p>
                    <p><b>Valor Padrão:</b> {{ valor_padrao}}</p>
                </ion-card-content>
            </ion-card>

            <ion-item class="form-required">
                <ion-label floating>O Que</ion-label>
                <ion-textarea rows="6" formControlName="o_que" autocapitalize="on" autocomplete="on" required></ion-textarea>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Como</ion-label>
                <ion-textarea rows="6" formControlName="como" autocapitalize="on" autocomplete="on" required></ion-textarea>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Quem</ion-label>
                <ion-input formControlName="quem" autocapitalize="on" autocomplete="on" required></ion-input>
            </ion-item>

            <ion-item class="form-required">
                <ion-label>Até Quando</ion-label>
                <ion-input [readonly]="true"></ion-input>
            </ion-item>
            <ion-calendar formControlName="quando" [format]="'YYYY-MM-DD'" [options]="options" required></ion-calendar>

        </ion-list>
    </form>

	<button ion-button icon-only full color="primary-2" ng-show="!isIos" (click)="assinarAcao()">
		<ion-icon name="ios-create-outline"></ion-icon>
		Coletar Assinatura
	</button>
    <hr>

    <div class="pins">
        <div class="pin" *ngFor="let foto of fotos">
            <ion-card no-margin>
                <img [src]="foto.img"/>
                <button ion-button icon-only full no-margin small color="danger" (click)="removeFoto(foto)">
                    <ion-icon name="trash"></ion-icon>
                    Apagar
                </button>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-fab right bottom>
    <button ion-fab color="light" (click)="newFoto()"><ion-icon name="camera"></ion-icon></button>
</ion-fab>

<ion-footer no-shadow no-padding>
    <button ion-button full no-margin class="center" button type="submit" form="form" [disabled]="acaoForm.invalid">
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>
