<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar class="bar-profile">
            <div class="profile">
                <div menuClose (click)="openPageAccount()">
                    <img class="profile-picture" [src]="img"/>
                    <h3 class="name">Olá {{ tecnico?.name }}</h3>
                    <h4 class="nivel">Técnico</h4>
                    <h4 class="empresa">{{ empresa }}</h4>
                </div>
                <hr class="bg-white">
                <p class="text-version">Versão: {{ app_version }}</p>
            </div>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
                {{ p.title }}
            </button>
            <button menuClose ion-item (click)="openAccount()">
                <ion-icon item-start name="contact"></ion-icon>
                Minha Conta
            </button>
            <button menuClose ion-item (click)="openPageAbout()">
                <ion-icon item-start name="information-circle"></ion-icon>
                Sobre e Suporte
            </button>
            <button menuClose ion-item (click)="openPageSync()">
                <ion-icon item-start name="refresh"></ion-icon>
                Sincronizar Dados
            </button>
            <button menuClose ion-item (click)="exportaBase()">
                <ion-icon item-start name="folder-open"></ion-icon>
                Exportar Base
            </button>
            <button menuClose ion-item (click)="compact(true)">
                <ion-icon item-start name="archive"></ion-icon>
                Otimizar Aplicativo
            </button>
            <button menuClose ion-item (click)="logout()">
                <ion-icon item-start name="log-out"></ion-icon>
                Encerrar Sessão
            </button>
            <button menuClose ion-item (click)="logoutAndDestroy()">
                <ion-icon item-start name="power"></ion-icon>
                Sair e Remover Dados
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>