// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content-fundo {
  background: url('../assets/imgs/fundo1.png');
  background-size: cover;
}

ion-menu {
  .content {
    background: none;
    background-size: cover;
  }
}

.toolbar-background {
  background: color($colors, primary);
}

ion-navbar.transparente {
  .toolbar-background {
      background: transparent;
  }
}

.btn-icone-esquerda {
  ion-icon {
    position: absolute;
    left: 3rem;
    top: 1rem;
  }
}

.toolbar-title {
  color: #fff;
}

.bar-buttons {
  color: #fff;
}

.list-unstyled {
	list-style: none;
}

.item *{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal ;
}

.text-center {
  text-align: center;
}

.scroll-content{
    overflow-y: auto !important;
}

.back-button {
  display: none !important;
}

.bar-button-menutoggle {
  display: block !important
}

.content, .scroll-content {
  background-size: cover !important;
}

.ion-page:not(.show-page) {
  ion-content {
    display: none !important;
  }
}

.img-branca {
  filter: brightness(0%) invert(100%);
}


.md {
  .btn-back {
    display: inline-block;
    vertical-align: bottom;
    // padding: 1.6rem 0 1.6rem 1.6rem;

    .icon {
      font-size: 3rem;
    }
  }

  .d-inline {
    display: inline-block;

    .toolbar-title {
      display: inline-block;
    }
  }
}

.btn-back {
    font-size: 1.5rem;
    padding-left: 1.8rem;
    padding-right: 1.6rem;
    color: #fff;
}

.card-md, .card-ios {
  // width: calc(100% - 2rem);
  // margin: .6rem .6rem 2rem .6rem;
  // margin-bottom: 1rem;
  
  // width: calc(100% - 1.2rem);
  margin: 0 0 2.6rem 0;
  width: 100%;
}

.navpop {
  float: left;
  margin-top: -5px;
  margin-bottom: -5px;
  font-size: 2rem;
  box-shadow: none;
}

.text-version{
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  margin: 3px 0;
}

.bg-white{
  background-color: #ffffff !important;
}

/*Profile Menu*/
.bar.bar-profile {
  background-color: #444;
  height: 170px;
}

.bar .profile {
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 15px;
}

.name {
  font-size: 1.25em;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 38%;
}

.nivel{
  color: #fff;
  font-size: 1em;
  position: absolute;
  top: 30%;
  left: 38%;
}

.empresa{
  color: #fff;
  font-size: 1em;
  position: absolute;
  top: 41%;
  left: 38%;
}


.profile-picture {
  border-radius: 50%;
  max-height: 100px;
  border: 2px solid #fff;
  box-shadow: 1px 2px 5px darken(color($colors, primary), 20%);
}

.menu .has-header
{
  top: 169px;
}

.text-version{
  margin-left: 10px;
}

.has-refresher > .scroll-content{
  border-top: none;
}

.toUpper{
  text-transform: uppercase !important;
}

.bg-grey{
  background-color: color($colors, grey-light);
}

.margin-bottom{
  margin-bottom: 5%;
}

.success{
  margin: 0 2%;
  width: 96%;
  .toast-message{
    font-weight: bold;
    background: darken(color($colors, secondary), 10%) !important;
  }
}

.error{
  margin: 0 2%;
  width: 96%;
  .toast-message{
    font-weight: bold;
    background: color($colors, danger) !important;
  }
}

/* Forma foto do perfil e produtor*/
.form-picture{
  border: 2px solid color($colors, primary);
  border-radius: 50%;
  max-height: 100px;
}

.div-img-perfil{
  border-bottom: 2px solid color($colors, primary);;
  margin-top: 10px;
  padding-bottom: 10px;
}

.camera{
  position: absolute;
  top: 16%;
  right: 37%;
  font-size: 2.5em;
  color: #c5c5c5;
  text-shadow: 2px 2px 5px #1f1e1e;
}

.bg-none{
  background-color: transparent;
}

/*Mapas nos formulários*/
#map {
  height: 70%;
  background-color: color($colors,grey-light);
}

.form-required {
  ion-label {
    &:after {
      content: " *";
      color: red;
      font-weight: bold;
    }
  }
}

.margin-negative-1{
  margin-bottom: -1px !important;
}

ion-buttons button[icon-only].back-button-modal {
  margin: 0 6px;
  min-width: 36px;
}


.ios, .md{
    .pins{
      column-count: 2;

      ion-card{
        width: 100% !important;
      }
    }

    .pin{
      display: inline-block;
      margin: 0 0 10px;

      ion-card{
        width: 100% !important;
      }
    }
}

.button-md-warning {
  color: #FFF;
}