<ion-slides pager class="content-fundo" padding>

  <ion-slide>
    <ion-buttons end>
      <button ion-button color="light" outline (click)="goToTabsPage()">Pular</button>
    </ion-buttons>

    <h1 class="white">Olá</h1>
    <h2 class="white mb-2">Bem vindo ao tutorial de como utilizar a aplicação!</h2>
    <br><br>
    <br><br>
    <br><br>
    <div class="mt-2 bg-cinza-texto">
      <p class="white justify">
        Para mudar de tela, deslize o dedo para a direita, ou clique em pular para acessar o App!
      </p>
    </div>
  </ion-slide>

  <ion-slide>
    <ion-buttons end>
      <button ion-button color="light" outline (click)="goToTabsPage()">Pular</button>
    </ion-buttons>

    <h2 class="white mb-2">A forma de acessar o App mudou!</h2>
    <img class="shadow" src="assets/imgs/intro/login/login_1.png" alt="Login 1">
    <div class="mt-2 bg-cinza-texto">
      <p class="white justify">
        Para acessar o aplicativo, será necessário informar o código da empresa na qual você pertence! Este código é fornecido junto aos dados de E-mail e Senha da sua conta :)
      </p>
    </div>
  </ion-slide>

  <ion-slide>
    <ion-buttons end>
      <button ion-button color="light" outline (click)="goToTabsPage()">Pular</button>
    </ion-buttons>

    <h2 class="white">Atualizamos o Checklist!</h2>
    <img class="shadow" src="assets/imgs/intro/checklist/checklist_1.png" alt="Checklist 1">
    <div class="mt-1 bg-cinza-texto">
      <p class="white justify">
        Agora é possível resolver as perguntas do checklist através do APP! <br>
        Para isso, selecione uma propriedade e produtor, um galpão e um lote, após isso,
        os checklists pertencentes ao lote serão listados!
      </p>
    </div>
  </ion-slide>

  <ion-slide>
    <ion-buttons end>
      <button ion-button color="light" outline (click)="goToTabsPage()">Pular</button>
    </ion-buttons>

    <h2 class="white mb-1">Acessando o Questionário!</h2>
    <img class="shadow" src="assets/imgs/intro/checklist/checklist_2.png" alt="Checklist 2">
    <div class="mt-1 bg-cinza-texto">
      <p class="white justify">
        Para responder um checklist, basta deslizar a opção na lista para a esquerda,
        um botão aparecerá, basta clicar sobre ele para abrir a tela de responder o checklist!
      </p>
    </div>
  </ion-slide>

  <ion-slide>
    <ion-buttons end>
      <button ion-button color="light" outline (click)="goToTabsPage()">Pular</button>
    </ion-buttons>

    <h2 class="white">Respondendo e Fotografando!</h2>
    <img class="shadow" src="assets/imgs/intro/checklist/checklist_3.png" alt="Checklist 3">
    <div class="mt-1 bg-cinza-texto">
      <p class="white justify">
        Para marcar a pergunta como CONFORME, basca clicar sobre o botão localizado à direita da pergunta, caso o botão esteja branco (seu estado padrão) a pergunta é marcada como NÃO CONFORME.
        Para fotografar o local da avaliação, clique sobre o icone da câmera localizado à esquerda da pergunta.
      </p>
    </div>
  </ion-slide>

  <ion-slide>
    <h2 class="white mb-2">Pronto, agora é só usar o App!</h2>
    <button class="mt-2" ion-button (click)="goToTabsPage()">Abrir Aplicação</button>
  </ion-slide>

</ion-slides>