page-intro {

  h1{
    font-size: 2.5em;
  }

  .mb-1{
    margin-top: 2rem;
  }

  .mb-2{
    margin-bottom: 5rem;
  }

  .mt-1{
    margin-top: 2rem;
  }

  .mt-2{
    margin-top: 5rem;
  }

  .white{
    color: #fff;
  }

  .justify{
    text-align: justify;
  }

  .shadow{
    box-shadow: 4px 7px 11px #3a3a3a;
    border-radius: 8px;
    border: 3px solid #5ae06c;
    padding: 5px;
    background-color: rgba(255,255,255,0.95);
  }

  .bg-cinza-texto{
    background-color: rgba(0,0,0,0.48);
    box-shadow: 0 0 5px #000;
    border-radius: 4px;
    padding: 5px 5px;
    margin-right: 5px;
    margin-left: 5px;

    p{
      padding: 0;
      margin: 0;
    }
  }
}


