<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Recontagem de Plantel</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="bg-grey">
    <ion-item class="bg-white">
        <ion-label floating>Produtor</ion-label>
        <ionic-selectable item-content [(ngModel)]="propriedade_id" [items]="propriedades" required
                          itemValueField="id"
                          itemTextField="propriedade_concat_produtor"
                          searchPlaceholder="Buscar Propriedade..."
                          searchFailText="Nenhuma propriedade encontrada!"
                          groupValueField="grupo_id"
                          groupTextField="grupo_desc"
                          [canSearch]="true"
                          (onChange)="getGalpao($event)">
            <ng-template ionicSelectableCloseButtonTemplate>
                <span ion-text color="white" showWhen="ios">Cancelar</span>
                <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
            </ng-template>
        </ionic-selectable>
    </ion-item>

    <ion-item class="bg-white">
        <ion-label floating>Galpão</ion-label>
        <ionic-selectable item-content #galpaoSelect [(ngModel)]="galpao" [items]="galpoes" required
                          itemValueField="id"
                          itemTextField="descricao"
                          searchPlaceholder="Buscar Galpão..."
                          searchFailText="Nenhum galpão encontrado!"
                          [canSearch]="true"
                          (onChange)="getIntervalos($event)">
            <ng-template ionicSelectableCloseButtonTemplate>
                <span ion-text color="white" showWhen="ios">Cancelar</span>
                <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
            </ng-template>
        </ionic-selectable>

    </ion-item>

    <ion-item class="bg-white" [ngClass]="{'margin-bottom':!enable_repeat_chk}">
        <ion-label floating>Intervalo de Aplicação</ion-label>
        <ionic-selectable item-content #intervaloSelect [(ngModel)]="intervalo_id" [items]="intervalos" required
                          itemValueField="id"
                          itemTextField="descricao_com_dias"
                          searchPlaceholder="Buscar Intervalo..."
                          searchFailText="Nenhum intervalo encontrado!"
                          [canSearch]="true"
                          (onChange)="getRecontagens($event)">
            <ng-template ionicSelectableCloseButtonTemplate>
                <span ion-text color="white" showWhen="ios">Cancelar</span>
                <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
            </ng-template>
        </ionic-selectable>

    </ion-item>

    <ion-item class="bg-white" class="margin-bottom">
        <ion-label>Repetir Recontagem</ion-label>
        <ion-checkbox [(ngModel)]="repetir_recontagem" (ionChange)="carregaRecontagens($event)"></ion-checkbox>
    </ion-item>

    <ion-card *ngFor="let recontagem of recontagens" class="margin-bottom">
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/checklist.jpg">
            </ion-avatar>
            <h2>Recontagem de Plantel</h2>
        </ion-item>
        <hr>
        <ion-card-content>
            <p><b>Previsão de Recontagem:</b></p>
            <p>{{ recontagem.data_prevista | date: 'dd/MM/yyyy'}}</p>
            <p><b>Validade:</b>
                <ion-badge *ngIf="recontagem.dias_vencimento >= 0" color="secondary">A {{ abs(recontagem.dias_vencimento) }} dias do vencimento</ion-badge>
                <ion-badge *ngIf="recontagem.dias_vencimento < 0" color="danger">Há {{ abs(recontagem.dias_vencimento) }} dias vencido</ion-badge>
            </p>

        </ion-card-content>
        <hr>
        <ion-row>
            <ion-col>
                <button ion-button block icon-start small (click)="abreRecontagem(recontagem)">
                    <ion-icon name="calculator"></ion-icon>
                    <div>Recontar Plantel</div>
                </button>
                <!--<button ion-button block icon-start small (click)="abreRecontagem(recontagem)" *ngIf="check.respsotas_aux == 0">-->
                    <!--<ion-icon name="checkbox"></ion-icon>-->
                    <!--<div>Recontar Plantel</div>-->
                <!--</button>-->
                <!--<button ion-button block icon-start small (click)="abreRecontagem(recontagem, true)" *ngIf="check.respsotas_aux > 0" color="primary-2">-->
                    <!--<ion-icon name="checkbox"></ion-icon>-->
                    <!--<div>Continuar Recontagem</div>-->
                <!--</button>-->
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card *ngIf="recontagens.length == 0" class="margin-bottom">
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/checklist.jpg">
            </ion-avatar>
            <h2>Recontagens não encontradas!</h2>
            <p>Não há recontagens disponíveis!</p>
        </ion-item>
    </ion-card>

</ion-content>

