<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop" *ngIf="!isSearchbarOpened">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title *ngIf="!isSearchbarOpened">Avaliação Inicial</ion-title>
        <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" cancelButtonText="Cancelar"
                       (ionCancel)="isSearchbarOpened=false" (ionInput)="buscarParametros($event)"
                       placeholder="Buscar..."
                       [debounce]="500" [animated]="true" no-padding></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content class="bg-grey" padding>
    <ion-fab top right #fab>
        <button ion-fab>
            <ion-icon name="ios-funnel"></ion-icon>
        </button>
        <ion-fab-list side="bottom">
            <button ion-fab color="primary" (click)="mostraCampo(fab)">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-fab color="primary" (click)="limpaFiltros(fab)">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>

    <ion-item class="bg-white" class="margin-bottom">
        <ion-label floating>Produtor</ion-label>
        <ionic-selectable item-content [(ngModel)]="propriedade" [items]="propriedades_av" required
                          itemValueField="id"
                          itemTextField="propriedade_concat_produtor"
                          searchPlaceholder="Buscar Propriedade..."
                          searchFailText="Nenhuma propriedade encontrada!"
                          [canSearch]="true"
                          (onChange)="getParametros($event)">
            <ng-template ionicSelectableCloseButtonTemplate>
                <span ion-text color="white" showWhen="ios">Cancelar</span>
                <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
            </ng-template>
        </ionic-selectable>
    </ion-item>

    <ion-card *ngFor="let param of parametros" class="margin-bottom">
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/parametro.jpg">
            </ion-avatar>
            <h2>Parâmetro #{{param.id}}</h2>
        </ion-item>
        <hr>
        <ion-card-content>
            <p><b>Grupo:</b> {{ param.grupo_descricao }}</p>
            <p><b>Ponto Avaliação:</b> {{ param.ponto_descricao }}</p>
            <p><b>Parâmetro:</b> {{ param.descricao }}
            <p *ngIf="param.informacao_padrao == 'true'"><b>Valor Padrão:</b> Sim
            <p *ngIf="param.informacao_padrao == 'false'"><b>Valor Padrão:</b> Não
            <p *ngIf="param.informacao_padrao != 'false' && param.informacao_padrao != 'true'"><b>Valor Padrão:</b> {{ param.informacao_padrao }}
        </ion-card-content>
        <hr>
        <ion-row>
            <ion-col>
                <button ion-button block icon-start small (click)="resolver(param, propriedade_id, param.id)">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <div>Parâmetro Ok</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button block icon-start small color="primary-2" (click)="abrirModal(param, propriedade_id)">
                    <ion-icon name="construct"></ion-icon>
                    <div>Gerar Ação</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>

