<ion-header no-border>
  <ion-navbar  class="transparente">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding class="content-fundo">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="main-content" (swipe)="swipe($event)">
    <h1>AÇÕES</h1>

    <ion-row>
      <ion-col>

        <button ion-button block class="center btn-icone-esquerda" color="primary" margin-bottom margin-top
                *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon"></ion-icon>
          {{ p.title}}
        </button>

        <!--<button ion-button block class="center btn-icone-esquerda" color="primary" margin-bottom margin-top-->
                <!--(click)="sincronizar()">-->
          <!--<ion-icon name="refresh"></ion-icon>-->
          <!--Sincronizar-->
        <!--</button>-->


      </ion-col>
    </ion-row>
  </div>
</ion-content>
