<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Sobre</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="bg-grey">
    <ion-list>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/icon/icon.png">
            </ion-avatar>
            <h2>Sistema Plano A</h2>
            <h3>Versão: {{ app_version }}</h3>
        </ion-item>
    </ion-list>

    <ion-card *ngFor="let versao of versoes" >
        <ion-card-header>
            Versão {{ versao.versao }}
            <ion-note float-right>
                <ion-icon name="calendar"></ion-icon>
                {{ versao.data_liberacao | date:'dd/MM/yyyy' }}
            </ion-note>
        </ion-card-header>

        <ion-card-content *ngIf="versao.melhorias != null && versao.melhorias != 'undefined'">
            <hr>
            <h4>
                <ion-icon name="alert" color="c-blue"></ion-icon>
                Melhorias
            </h4>
            <div [innerHTML]="versao.melhorias"></div>
        </ion-card-content>

        <ion-card-content *ngIf="versao.funcionalidades != null && versao.funcionalidades != 'undefined'">
            <hr>
            <h4>
                <ion-icon name="flash" color="c-green"></ion-icon>
                Nova Funcionalidade
            </h4>
            <div [innerHTML]="versao.funcionalidades"></div>
        </ion-card-content>

        <ion-card-content *ngIf="versao.bugs != null && versao.bugs != 'undefined'">
            <hr>
            <h4>
                <ion-icon name="warning" color="c-orange"></ion-icon>
                Correção de Bug
            </h4>
            <div [innerHTML]="versao.bugs"></div>
        </ion-card-content>

    </ion-card>

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="onClickChat()">
            <ion-icon name="chatbubbles"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
