<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Produtores</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="bg-grey">
    <ion-searchbar (ionInput)="buscarProdutores($event)" placeholder="Buscar..." [(ngModel)]="termo_busca"
                   [debounce]="500" [animated]="true" no-padding padding-bottom>
    </ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let produtor of produtores">
            <ion-avatar item-start>
                <img [src]="produtor.foto">
            </ion-avatar>
            <h2>{{ produtor.nome }}</h2>
            <p>{{ produtor.municipio }} - {{ produtor.uf}}</p>

            <button ion-button item-end color="c-orange" small (click)="editaProdutor(produtor.id)">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>

