<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Atualizar Propriedade</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="propriedadeForm" id="form" (ngSubmit)="store()" novalidate>
        <ion-item  class="form-required">
            <ion-label floating>Produtor</ion-label>
            <ion-input required formControlName="produtor" disabled></ion-input>
        </ion-item>

        <ion-item  class="form-required">
            <ion-label floating>Código ERP</ion-label>
            <ion-input formControlName="codErp" type="number"></ion-input>
        </ion-item>

		<ion-item  class="form-required">
            <ion-label floating>Nome da Propriedade</ion-label>
            <ion-input required formControlName="descricao" autocapitalize="on" autocomplete="on" class="toUpper"></ion-input>
        </ion-item>

        <ion-item  class="form-required">
            <ion-label floating>Endereço</ion-label>
            <ion-input required formControlName="logradouro" autocapitalize="on" autocomplete="on" class="toUpper"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Complemento</ion-label>
            <ion-input formControlName="complemento" autocapitalize="on" autocomplete="on" class="toUpper"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>I.E.</ion-label>
            <ion-input formControlName="ie" class="toUpper"></ion-input>
        </ion-item>

        <ion-item  class="form-required">
            <ion-label floating>Tipo de Integração</ion-label>

            <ionic-selectable item-content formControlName="tipo_integracao_id" [items]="tipo_integracoes" required
                              itemValueField="id"
                              itemTextField="descricao"
                              searchPlaceholder="Buscar Integrações..."
                              searchFailText="Nenhuma integração encontrada!"
                              [canSearch]="true"
                              (onChange)="getSubTiposInteg($event)">
                <ng-template ionicSelectableCloseButtonTemplate>
                    <span ion-text color="white" showWhen="ios">Cancelar</span>
                    <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
                </ng-template>
            </ionic-selectable>
        </ion-item>

        <ion-item  class="form-required">
            <ion-label floating>Sub Tipo de Integração</ion-label>
            <ionic-selectable item-content formControlName="subtipo_integracao_id" [items]="subtipo_integracoes" required
                              itemValueField="id"
                              itemTextField="descricao"
                              searchPlaceholder="Buscar Subtipo de Integração..."
                              searchFailText="Nenhum subtibo de integração encontrado!"
                              [canSearch]="true">
                <ng-template ionicSelectableCloseButtonTemplate>
                    <span ion-text color="white" showWhen="ios">Cancelar</span>
                    <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
                </ng-template>
            </ionic-selectable>
        </ion-item>

        <ion-item  class="form-required">
            <ion-label floating>Integradora</ion-label>
            <ionic-selectable item-content formControlName="integradora_id" [items]="integradoras" required
                              itemValueField="id"
                              itemTextField="nome"
                              searchPlaceholder="Buscar Empresa Integradora..."
                              searchFailText="Nenhuma empresa encontrada!"
                              [canSearch]="true">
                <ng-template ionicSelectableCloseButtonTemplate>
                    <span ion-text color="white" showWhen="ios">Cancelar</span>
                    <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
                </ng-template>
            </ionic-selectable>
        </ion-item>

        <ion-item>
            <ion-label>Ativo</ion-label>
            <ion-checkbox formControlName="ativo"></ion-checkbox>
        </ion-item>
    </form>

    <button ion-button full class="center" type="button" (click)="removerPropriedade()" color="danger">
        <ion-icon name="trash" margin-right></ion-icon>
        Apagar Propriedade
    </button>

    <button *ngIf="existGeo" ion-button full class="center" type="button" (click)="getGeolocation()" color="primary-2">
        <ion-icon name="pin" margin-right></ion-icon>
        Atualizar Localização
    </button>

    <button *ngIf="!existGeo" ion-button full class="center" type="button" (click)="getGeolocation()" color="primary">
        <ion-icon name="pin" margin-right></ion-icon>
        Capturar Localização
    </button>
    <div #map id="map" [hidden]="hideMap"></div>

    <hr>

    <div class="pins">
        <div class="pin" *ngFor="let foto of fotos">
            <ion-card no-margin>
                <img [src]="foto.img"/>
                <ion-row no-margin no-padding>
                    <ion-col col-6 no-margin no-padding>
                        <button ion-button icon-only full no-margin small [disabled]="foto.principal == true || foto.principal == 'true'" (click)="marcaPrincipal(foto)">
                            <ion-icon name="checkmark-circle"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-6 no-margin no-padding>
                        <button ion-button icon-only full no-margin small color="danger" (click)="removeFoto(foto)">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-fab right bottom>
    <button ion-fab color="light" (click)="newFoto()"><ion-icon name="camera"></ion-icon></button>
</ion-fab>

<ion-footer no-shadow no-padding [hidden]="keyboard.isVisible">
    <button ion-button full no-margin class="center" button type="submit" form="form" [disabled]="propriedadeForm.invalid" >
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>
