<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Recontar Plantel</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="plantelForm" id="form" (ngSubmit)="store()" novalidate>
        <ion-item class="form-required">
            <ion-label floating>Produtor</ion-label>
            <ion-input required formControlName="produtor" readonly="true"></ion-input>
        </ion-item>

        <ion-item class="form-required">
            <ion-label floating>Galpão</ion-label>
            <ion-input required formControlName="galpao" readonly="true"></ion-input>
        </ion-item>

        <ion-item class="form-required">
            <ion-label floating>Leitoas Não Cobertas - L/N/C</ion-label>
            <ion-input required formControlName="leitoas_nc" type="number"></ion-input>
        </ion-item>

        <ion-item class="form-required">
            <ion-label floating>Leitoas Cobertas - L/C + Matrizes Produtivas - M/P</ion-label>
            <ion-input required formControlName="leitoas_c" type="number"></ion-input>
        </ion-item>

        <fieldset margin-top>
            <legend>Descartes:</legend>
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col col-6 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>Matrizes</ion-label>
                            <ion-input required formControlName="matrizes_desc" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>Machos</ion-label>
                            <ion-input required formControlName="machos_desc" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </fieldset>

        <fieldset margin-top>
            <legend>Machos:</legend>
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col col-5 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>Inteiros</ion-label>
                            <ion-input required formControlName="machos_inteiros" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-7 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>Vasectomizados</ion-label>
                            <ion-input required formControlName="machos_vasec" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </fieldset>

        <fieldset margin-top>
            <legend>Celas Úteis:</legend>
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col col-6 no-padding *ngFor="let cela of celas_uteis">
                        <ion-item class="form-required">
                            <ion-label floating>{{ cela.descricao }}</ion-label>
                            <ion-input required [formControlName]="cela.cela_util" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </fieldset>

		<fieldset margin-top>
			<legend>Saldo CIDASC:</legend>
			<ion-grid no-padding>
				<ion-row no-padding>
					<ion-col col-5 no-padding>
						<ion-item class="form-required">
							<ion-label floating>Fêmeas</ion-label>
							<ion-input required formControlName="saldo_cidasc_femeas" type="number"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col col-7 no-padding>
						<ion-item class="form-required">
							<ion-label floating>Machos</ion-label>
							<ion-input required formControlName="saldo_cidasc_machos" type="number"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>

		</fieldset>

        <fieldset margin-top>
            <legend>Saldo Agriness:</legend>
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col col-6 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>L/N/C</ion-label>
                            <ion-input required formControlName="qtd_ags_lnc" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>L/C + M/P</ion-label>
                            <ion-input required formControlName="qtd_ags_lc" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>Matrizes Desc.</ion-label>
                            <ion-input required formControlName="qtd_ags_mat_desc" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>Machos Desc.</ion-label>
                            <ion-input required formControlName="qtd_ags_mac_desc" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>Machos Intei.</ion-label>
                            <ion-input required formControlName="qtd_ags_mac_int" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>Machos Vasec.</ion-label>
                            <ion-input required formControlName="qtd_ags_mac_vas" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </fieldset>

        <fieldset margin-top>
            <legend>Quantidade Contrato:</legend>
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col col-6 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>Fêmeas</ion-label>
                            <ion-input required formControlName="qtd_contrato_femeas" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6 no-padding>
                        <ion-item class="form-required">
                            <ion-label floating>Leitões</ion-label>
                            <ion-input required formControlName="qtd_contrato_leitoes" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </fieldset>

        <ion-item class="form-required">
            <ion-label floating>Quantidade LAO Vigente</ion-label>
            <ion-input required formControlName="qtd_lao_vigente" type="number"></ion-input>
        </ion-item>

        <fieldset margin-top>
            <legend>Informações Adicionais:</legend>
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col col-6 no-padding>
                        <ion-item>
                            <ion-label floating>Plantel Produtivo</ion-label>
                            <ion-input formControlName="plantel_produtivo" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6 no-padding>
                        <ion-item>
                            <ion-label floating>Celas de Maternidades</ion-label>
                            <ion-input formControlName="celas_maternidades" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row no-padding>
                    <ion-col col-6 no-padding>
                        <ion-item>
                            <ion-label floating>Box de Gestação</ion-label>
                            <ion-input formControlName="box_gestacao" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6 no-padding>
                        <ion-item>
                            <ion-label floating>Gestação Coletiva</ion-label>
                            <ion-input formControlName="gestacao_coletiva" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </fieldset>

		<ion-item>
			<ion-label floating>Observações</ion-label>
			<ion-input formControlName="observacoes" type="text"></ion-input>
		</ion-item>
    </form>
</ion-content>

<ion-footer no-shadow no-padding [hidden]="keyboard.isVisible">
    <button ion-button full no-margin class="center" button type="submit" form="form" [disabled]="plantelForm.invalid" >
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>
