<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Checklists</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="bg-grey">
    <ion-item class="bg-white">
        <ion-label floating>Produtor</ion-label>
        <ionic-selectable item-content [(ngModel)]="propriedade_id" [items]="propriedades" required
                          itemValueField="id"
                          itemTextField="propriedade_concat_produtor"
                          searchPlaceholder="Buscar Propriedade..."
                          searchFailText="Nenhuma propriedade encontrada!"
                          groupValueField="grupo_id"
                          groupTextField="grupo_desc"
                          [canSearch]="true"
                          (onChange)="getGalpao($event)">
            <ng-template ionicSelectableCloseButtonTemplate>
                <span ion-text color="white" showWhen="ios">Cancelar</span>
                <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
            </ng-template>
        </ionic-selectable>
    </ion-item>

    <ion-item class="bg-white">
        <ion-label floating>Galpão</ion-label>
        <ionic-selectable item-content #galpaoSelect [(ngModel)]="galpao" [items]="galpoes" required *ngIf="!chk_periodo || galpao?.aplica_chk_lote"
                          itemValueField="id"
                          itemTextField="descricao"
                          searchPlaceholder="Buscar Galpão..."
                          searchFailText="Nenhum galpão encontrado!"
                          [canSearch]="true"
                          (onChange)="getLote($event)">
            <ng-template ionicSelectableCloseButtonTemplate>
                <span ion-text color="white" showWhen="ios">Cancelar</span>
                <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
            </ng-template>
        </ionic-selectable>

        <ionic-selectable item-content #galpaoSelect [(ngModel)]="galpao" [items]="galpoes" required *ngIf="chk_periodo && !galpao?.aplica_chk_lote"
                          itemValueField="id"
                          itemTextField="descricao"
                          searchPlaceholder="Buscar Galpão..."
                          searchFailText="Nenhum galpão encontrado!"
                          [canSearch]="true"
                          (onChange)="galpao?.aplica_chk_lote ? getLote($event) : getIntervalos($event)">
            <ng-template ionicSelectableCloseButtonTemplate>
                <span ion-text color="white" showWhen="ios">Cancelar</span>
                <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
            </ng-template>
        </ionic-selectable>
    </ion-item>

    <ion-item class="bg-white" *ngIf="!chk_periodo || aplica_chk_lote" [ngClass]="{'margin-bottom':!enable_repeat_chk}">
        <ion-label floating>Lote</ion-label>

        <ionic-selectable item-content #loteSelect [(ngModel)]="lote_id" [items]="lotes" required
                          itemValueField="id"
                          itemTextField="nro_lote"
                          searchPlaceholder="Buscar Lote..."
                          searchFailText="Nenhum lote encontrado!"
                          [canSearch]="true"
                          (onChange)="getChecklist($event)">
            <ng-template ionicSelectableCloseButtonTemplate>
                <span ion-text color="white" showWhen="ios">Cancelar</span>
                <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
            </ng-template>
        </ionic-selectable>
    </ion-item>

    <ion-item class="bg-white" *ngIf="chk_periodo && !aplica_chk_lote" [ngClass]="{'margin-bottom':!enable_repeat_chk}">
        <ion-label floating>Intervalo de Aplicação</ion-label>
        <ionic-selectable item-content #intervaloSelect [(ngModel)]="intervalo_id" [items]="intervalos" required
                          itemValueField="id"
                          itemTextField="descricao_com_dias"
                          searchPlaceholder="Buscar Intervalo..."
                          searchFailText="Nenhum intervalo encontrado!"
                          [canSearch]="true"
                          (onChange)="getChecklistNoIntervalo($event)">
            <ng-template ionicSelectableCloseButtonTemplate>
                <span ion-text color="white" showWhen="ios">Cancelar</span>
                <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
            </ng-template>
        </ionic-selectable>

    </ion-item>

    <ion-item class="bg-white" class="margin-bottom" *ngIf="enable_repeat_chk">
        <ion-label>Repetir Checklist</ion-label>
        <ion-checkbox [(ngModel)]="repetir_chk" (ionChange)="carregaChecklists($event)"></ion-checkbox>
    </ion-item>

    <ion-card *ngFor="let check of checklists" class="margin-bottom">
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/checklist.jpg">
            </ion-avatar>
            <h2>{{ check.descricao }}</h2>
            <p>Checklist #{{ check.id }}</p>
        </ion-item>
        <hr>
        <ion-card-content>
            <p *ngIf="chk_periodo" text-center><b>Período de Aplicação:</b></p>
            <p *ngIf="chk_periodo" text-center>{{ check.data_inicio | date: 'dd/MM/yyyy' }} - {{ check.data_final | date: 'dd/MM/yyyy' }}</p>
            <p *ngIf="chk_periodo"><b>Validade:</b>
                <ion-badge *ngIf="check.dias_vencimento >= 0" color="secondary">A {{ abs(check.dias_vencimento) }} dias do vencimento</ion-badge>
                <ion-badge *ngIf="check.dias_vencimento < 0" color="danger">Há {{ abs(check.dias_vencimento) }} dias vencido</ion-badge>
            </p>
            <p><b>Fase de Apliação:</b> {{ check.fase_descricao }}</p>
            <p><b>Integração de Aplicação:</b> {{ check.integracao_descricao }}</p>
            <p><b>Subtipo de Integração de Aplicação:</b> {{ check.subtipo_integracao_descricao }}</p>
        </ion-card-content>
        <hr>
        <ion-row>
            <ion-col>
                <button ion-button block icon-start small (click)="abrirPerguntas(check)" *ngIf="check.respsotas_aux == 0">
                    <ion-icon name="checkbox"></ion-icon>
                    <div>Responder Questionário</div>
                </button>
                <button ion-button block icon-start small (click)="abrirPerguntas(check, true)" *ngIf="check.respsotas_aux > 0" color="primary-2">
                    <ion-icon name="checkbox"></ion-icon>
                    <div>Continuar Avaliação</div>
                </button>
                <button ion-button block icon-start small (click)="reiniciarChk(check, false)" *ngIf="check.respsotas_aux > 0" color="warning">
                    <ion-icon name="refresh-circle"></ion-icon>
                    <div>Reiniciar Avaliação</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card *ngIf="checklists.length == 0" class="margin-bottom">
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/checklist.jpg">
            </ion-avatar>
            <h2>Checklists não encontrados!</h2>
            <p>Não há checklists disponíveis!</p>
        </ion-item>
    </ion-card>

</ion-content>

