<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Fotos {{ titulo }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="pins">
        <div class="pin" *ngFor="let foto of fotos">
            <ion-card no-margin>
                <img [src]="foto.img"/>
                <button ion-button icon-only full no-margin small color="danger" (click)="removeFoto(foto)">
                    <ion-icon name="trash"></ion-icon>
                    Apagar
                </button>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-fab right bottom>
    <button ion-fab color="light" (click)="newFoto()"><ion-icon name="camera"></ion-icon></button>
</ion-fab>