.ios, .md{
  page-fotos-plano-acao {
    ion-card{
      width: 100% !important;
    }

    .pins{
      column-count: 2;
    }

    .pin{
      display: inline-block;
      margin: 0 0 10px;
    }
  }
}
