<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Nova Ação</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="acaoForm" id="form" (ngSubmit)="store()" novalidate>
        <ion-list>
            <ion-item class="form-required">
                <ion-label floating>Produtores</ion-label>
                <ionic-selectable item-content formControlName="propriedade_id" [items]="propriedades" required
                                  itemValueField="id"
                                  itemTextField="propriedade_concat_produtor"
                                  searchPlaceholder="Buscar Produtor..."
                                  searchFailText="Nenhum produtor encontrado!"
                                  [canSearch]="true"
                                  (onChange)="carregarGrupos($event)">
                    <ng-template ionicSelectableCloseButtonTemplate>
                        <span ion-text color="white" showWhen="ios">Cancelar</span>
                        <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
                    </ng-template>
                </ionic-selectable>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Grupos</ion-label>
                <ionic-selectable item-content formControlName="grupo_acao_id" [items]="grupos" required
                                  itemValueField="id"
                                  itemTextField="descricao"
                                  searchPlaceholder="Buscar Grupo..."
                                  searchFailText="Nenhum grupo encontrado!"
                                  [canSearch]="true"
                                  (onChange)="carregarPontos($event)">
                    <ng-template ionicSelectableCloseButtonTemplate>
                        <span ion-text color="white" showWhen="ios">Cancelar</span>
                        <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
                    </ng-template>
                </ionic-selectable>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Ponto Ação</ion-label>
                <ionic-selectable item-content formControlName="ponto_acao_id" [items]="pontos" required
                                  itemValueField="id"
                                  itemTextField="descricao"
                                  searchPlaceholder="Buscar Ponto..."
                                  searchFailText="Nenhum ponto encontrado!"
                                  [canSearch]="true"
                                  (onChange)="carregarParametros($event)">
                    <ng-template ionicSelectableCloseButtonTemplate>
                        <span ion-text color="white" showWhen="ios">Cancelar</span>
                        <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
                    </ng-template>
                </ionic-selectable>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Parâmetro</ion-label>
                <ionic-selectable item-content formControlName="parametro_acao_id" [items]="parametros" required
                                  itemValueField="id"
                                  itemTextField="descricao"
                                  searchPlaceholder="Buscar Parâmetro..."
                                  searchFailText="Nenhum parâmetro encontrado!"
                                  [canSearch]="true"
                                  (onChange)="valorPadrao($event)">
                    <ng-template ionicSelectableCloseButtonTemplate>
                        <span ion-text color="white" showWhen="ios">Cancelar</span>
                        <ion-icon color="white" name="close-circle" style="font-size: 24px;" showWhen="android,windows"></ion-icon>
                    </ng-template>
                </ionic-selectable>
            </ion-item>

            <ion-item>
                <ion-label floating>Valor Padrão</ion-label>
                <ion-textarea rows="3" disabled value="{{informacao_padrao}}"></ion-textarea>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>O Que</ion-label>
                <ion-textarea rows="6" formControlName="o_que" autocapitalize="on" autocomplete="on" required></ion-textarea>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Como</ion-label>
                <ion-textarea rows="6" formControlName="como" rautocapitalize="on" autocomplete="on" required></ion-textarea>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Quem</ion-label>
                <ion-input formControlName="quem" autocapitalize="on" autocomplete="on" required></ion-input>
            </ion-item>

            <ion-item class="form-required">
                <ion-label>Até Quando</ion-label>
                <ion-input [readonly]="true"></ion-input>
            </ion-item>
            <ion-calendar formControlName="quando" [format]="'YYYY-MM-DD'" [options]="options" required></ion-calendar>
        </ion-list>
    </form>

	<button ion-button icon-only full color="primary-2" ng-show="!isIos" (click)="assinarAcao()">
		<ion-icon name="ios-create-outline"></ion-icon>
		Coletar Assinatura
	</button>
    <hr>

    <div class="pins">
        <div class="pin" *ngFor="let foto of fotos">
            <ion-card no-margin>
                <img [src]="foto.img"/>
                <button ion-button icon-only full no-margin small color="danger" (click)="removeFoto(foto)">
                    <ion-icon name="trash"></ion-icon>
                    Apagar
                </button>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-fab right bottom>
    <button ion-fab color="light" (click)="newFoto()"><ion-icon name="camera"></ion-icon></button>
</ion-fab>

<ion-footer no-shadow no-padding>
    <button ion-button full no-margin class="center" button type="submit" form="form" [disabled]="acaoForm.invalid">
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>
