<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop" *ngIf="!isSearchbarOpened">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title *ngIf="!isSearchbarOpened">Relatórios dos Checklists</ion-title>

        <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" cancelButtonText="Cancelar"
                       (ionCancel)="isSearchbarOpened=false" (ionInput)="buscarRelatorios($event)"
                       placeholder="Buscar..."
                       [debounce]="500" [animated]="true" no-padding></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab top right #fab>
        <button ion-fab>
            <ion-icon name="ios-funnel"></ion-icon>
        </button>
        <ion-fab-list side="bottom">
            <button ion-fab color="primary" (click)="mostraCampo(fab)">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-fab color="primary" (click)="abrirCalendario(fab)">
                <ion-icon name="calendar"></ion-icon>
            </button>
            <button ion-fab color="primary" (click)="ordenaAZ(fab)">
                A-Z
            </button>
            <button ion-fab color="primary" (click)="limpaFiltros(fab)">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
    <div *ngIf="chk_periodo">
        <ion-segment [(ngModel)]="tipo_relatorio">
            <ion-segment-button value="lote">
                Lote
            </ion-segment-button>
            <ion-segment-button value="periodo">
                Período
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="tipo_relatorio">
        <ion-list *ngSwitchCase="'periodo'" padding>
            <ion-card *ngFor="let periodo of periodos" class="margin-bottom">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/checklist.jpg">
                    </ion-avatar>
                    <h2>{{ periodo.produtor_nome }} - {{ periodo.propriedade_descricao}}</h2>
                    <p>{{ periodo.galpao_descricao}} - Período {{ periodo.intervalo}}</p>
                    <p>Última Avaliação {{ periodo.data_ultima_avaliacao | date:'dd/MM/yyyy'}}</p>
                </ion-item>
                <hr>
                <ion-card-content >
                    <p><b>Total de Avaliações Aplicadas:</b> <span>{{ periodo.avaliacoes_count }}</span></p>
                    <p *ngIf="!pgto_chk_kg"><b>Valor Total do Checklist:</b> <span>{{ periodo.valor_total_chk | currency:'BRL':true}}</span></p>
                    <p *ngIf="pgto_chk_kg"><b>Valor Total do Checklist:</b> <span>{{ (periodo.valor_total_chk*periodo.peso_chk) | currency:'BRL':true}}</span></p>
                    <p *ngIf="pgto_chk_kg"><b>Peso Total Checklist:</b> Kg {{ periodo.peso_chk | number : '1.3-3'}}</p>
                    <p><b>Pontuação Total:</b> <span>{{ (periodo.pts_total_conf - periodo.pts_total_n_conf) | number:'1.1-2' }}%</span></p>
                    <p *ngIf="pgto_chk_kg"><b>Peso Recebido:</b> Kg {{ (periodo.peso_total_conf)| number:'1.3-3' }}</p>
                    <p><b>Total Recebido:</b>
                        <span *ngIf="!pgto_chk_kg">
                            {{((periodo.pts_total_conf - periodo.pts_total_n_conf)*periodo.valor_total_chk)/(100 - periodo.pts_total_resp_nulas) | currency:'BRL':true}}
                        </span>
                        <span *ngIf="pgto_chk_kg">
                            {{(periodo.peso_total_conf*periodo.valor_total_chk) | currency:'BRL':true}}
                        </span>
                    </p>
                </ion-card-content>
                <hr>
                <ion-row>
                    <ion-col>
                        <button ion-button block icon-start small color="primary-2" (click)="show(periodo.id)">
                            <ion-icon name="checkbox"></ion-icon>
                            <div>Ver Detalhes</div>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>

        <ion-list *ngSwitchCase="'lote'" padding>
            <ion-card *ngFor="let lote of lotes" class="margin-bottom">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/checklist.jpg">
                    </ion-avatar>
                    <h2>{{ lote.produtor_nome }} - {{ lote.propriedade_descricao}}</h2>
                    <p>{{ lote.galpao_descricao}} - Lote {{ lote.nro_lote}}</p>
                    <p>Última Avaliação {{ lote.data_ultima_avaliacao | date:'dd/MM/yyyy'}}</p>
                </ion-item>
                <hr>
                <ion-card-content>
                    <p><b>Total de Avaliações Aplicadas:</b> <span>{{ lote.avaliacoes_count }}</span></p>
                    <p><b>Pontuação Total:</b> <span>{{ (lote.pts_total_conf-lote.pts_total_n_conf)/lote.avaliacoes_count | number:'1.1-2' }}%</span></p>
                    <p *ngIf="!pgto_chk_kg"><b>Valor Total do Checklist:</b> <span>{{ lote.valor_total_chk | currency:'BRL':true}}</span></p>

                    <p *ngIf="pgto_chk_kg"><b>Valor Total do Checklist:</b> <span>{{ (lote.valor_total_chk*lote.peso_chk) | currency:'BRL':true}}</span></p>
                    <p *ngIf="pgto_chk_kg"><b>Peso Total Checklist:</b> Kg {{ lote.peso_chk | number : '1.3-3'}}</p>
                    <p *ngIf="pgto_chk_kg"><b>Peso Recebido:</b> Kg {{ lote.total_peso_av | number:'1.3-3' }}</p>
                    <p><b>Total Recebido:</b>
                        <span *ngIf="!pgto_chk_kg">
                            {{ (((lote.pts_total_conf-lote.pts_total_n_conf)/lote.avaliacoes_count)*lote.valor_total_chk)/100 | currency:'BRL':true}}
                        </span>
                        <span *ngIf="pgto_chk_kg">
                            {{(lote.total_peso_av*(lote.valor_total_chk*lote.peso_chk)) | currency:'BRL':true}}
                        </span>
                    </p>
                </ion-card-content>
                <hr>
                <ion-row>
                    <ion-col>
                        <button ion-button block icon-start small color="primary-2" (click)="show(lote.id)">
                            <ion-icon name="checkbox"></ion-icon>
                            <div>Ver Detalhes</div>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
    </div>




</ion-content>

