<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop" *ngIf="!isSearchbarOpened">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title *ngIf="!isSearchbarOpened">Ações</ion-title>
        <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" cancelButtonText="Cancelar"
                       (ionCancel)="isSearchbarOpened=false" (ionInput)="buscarAcoes($event)"
                       placeholder="Buscar..." [(ngModel)]="termo_busca"
                       [debounce]="500" [animated]="true" no-padding></ion-searchbar>
    </ion-navbar>
</ion-header>


<ion-content padding class="bg-grey">
    <ion-fab top right #fab>
        <button ion-fab>
            <ion-icon name="ios-funnel"></ion-icon>
        </button>
        <ion-fab-list side="bottom">
            <button ion-fab color="primary" (click)="mostraCampo(fab)">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-fab color="primary" (click)="abrirCalendario(fab)">
                <ion-icon name="calendar"></ion-icon>
            </button>
            <button ion-fab color="primary" (click)="limpaFiltros(fab)">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>

    <ion-card *ngFor="let acao of acoes" class="margin-bottom">
        <div id="print-to-share-{{acao.id}}">
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/ferramentas.jpg">
                </ion-avatar>
                <h2>
                    <ion-icon *ngIf="!acao.id_web" name="warning" color="warning" class="margin-negative-1"></ion-icon>
                    <ion-icon *ngIf="acao.id_web" name="cloud-done" color="primary" class="margin-negative-1"></ion-icon>
                    Ação #{{acao.id}}
                </h2>
                <p>{{ acao.produtor_propriedade }}</p>
            </ion-item>
            <hr class="bg-white">
            <ion-card-content class="bg-white">
                <p>
                    <b>Até quando:</b>
                    <ion-badge [color]="acao.quando >= now ? 'secondary':'danger'">
                        {{ acao.quando | date:'dd/MM/yyyy'}}
                    </ion-badge>
                    <ion-icon *ngIf="acao.renovada" name="refresh-circle" color="warning"></ion-icon>
                </p>
                <p><b>O que:</b> {{ acao.o_que }}</p>
                <p><b>Como:</b> {{ acao.como }}</p>
            </ion-card-content>
        </div>
        <hr class="bg-white">
        <ion-row>
            <ion-col>
                <button ion-button block icon-start="" small (click)="abrirModal(acao)">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <div>Resolver</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button block icon-start small color="primary-2" (click)="compartilharAcao(acao)">
                    <ion-icon name="share"></ion-icon>
                    <div>Enviar</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button block icon-start small color="warning" (click)="editarAcao(acao)">
                    <ion-icon name="create"></ion-icon>
                    <div>Editar</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="ios-arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab color="primary" [navPush]="AcoesCreatePage"><ion-icon name="add"></ion-icon></button>
            <button ion-fab color="primary-2" (click)="selecionaPropriedade(1)"><ion-icon name="document"></ion-icon></button>
            <button ion-fab color="grey-light" (click)="selecionaPropriedade(2)"><ion-icon name="ios-create-outline"></ion-icon></button>
        </ion-fab-list>

    </ion-fab>
</ion-content>

