<ion-header>
    <ion-navbar >
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Editar Ação</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="baixaForm" id="form" (ngSubmit)="update()" novalidate>
        <ion-list>
            <ion-item>
                <ion-label floating>Produtor</ion-label>
                <ion-input disabled value="{{this.baixa?.produtor}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Grupo</ion-label>
                <ion-input disabled value="{{this.baixa?.grupo}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Ponto</ion-label>
                <ion-textarea rows="6" disabled value="{{this.baixa?.ponto}}"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label floating>Parâmetro</ion-label>
                <ion-textarea rows="6" disabled value="{{this.baixa?.parametro}}"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label floating>O Que</ion-label>
                <ion-textarea rows="6" disabled value="{{this.baixa?.o_que}}"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label floating>Como</ion-label>
                <ion-textarea rows="6" disabled value="{{this.baixa?.como}}"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label floating>Quem</ion-label>
                <ion-input disabled value="{{this.baixa?.quem}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Até Quando</ion-label>
                <ion-input disabled value="{{this.baixa?.quando | date:'dd/MM/yyyy' }}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Baixada em</ion-label>
                <ion-input disabled value="{{this.baixa?.data | date:'dd/MM/yyyy' }}"></ion-input>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Solucionado</ion-label>
                <ion-select formControlName="resolvido" required interface="popover">
                    <ion-option [value]="1" (ionSelect)="setLabelResposta(true)">Sim</ion-option>
                    <ion-option [value]="0" (ionSelect)="setLabelResposta(false)">Não</ion-option>
                </ion-select>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>{{ baixaForm.value.resposta == 1 ? 'Solução':'Justificativa' }}</ion-label>
                <ion-textarea rows="6" formControlName="resposta" autocapitalize="on" autocomplete="on" required></ion-textarea>
            </ion-item>
        </ion-list>
    </form>

    <hr>

    <div class="pins">
        <div class="pin" *ngFor="let foto of fotos">
            <ion-card no-margin>
                <img [src]="foto.img"/>
                <button ion-button icon-only full no-margin small color="danger" (click)="removeFoto(foto)">
                    <ion-icon name="trash"></ion-icon>
                    Apagar
                </button>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-fab right bottom>
    <button ion-fab color="light" (click)="newFoto()"><ion-icon name="camera"></ion-icon></button>
</ion-fab>

<ion-footer no-shadow no-padding>
    <button ion-button full no-margin class="center" button type="submit" form="form" [disabled]="baixaForm.invalid">
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>
