<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Visita Programada</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-item class="form-required">
        <ion-label floating>Produtor</ion-label>
        <ion-input [ngModel]="produtor" readonly="true"></ion-input>
    </ion-item>
    <ion-item class="form-required">
        <ion-label floating>Galpão</ion-label>
        <ion-input [ngModel]="galpao" readonly="true"></ion-input>
    </ion-item>

    <ion-item class="form-required">
        <ion-label floating>Lote</ion-label>
        <ion-input [ngModel]="lote" readonly="true"></ion-input>
    </ion-item>

    <form id="formVisita" [formGroup]="perguntasFormGroup">

        <div *ngFor="let pergunta of perguntas">
            <ion-item class="form-required">
                <ion-label floating *ngIf="pergunta.type != 'BOOLEAN'">{{pergunta.label}}</ion-label>
                <ion-input *ngIf="pergunta.type == 'NUMBER'" required type="number"
                           [formControlName]="pergunta.key"></ion-input>
                <ion-input *ngIf="pergunta.type == 'VARCHAR'" required [formControlName]="pergunta.key"></ion-input>
                <ion-select interface="popover" *ngIf="pergunta.type == 'SELECT'" [formControlName]="pergunta.key">
                    <ion-option *ngFor="let sexo of sexos" [value]="sexo.id">{{sexo.descricao}}</ion-option>
                </ion-select>
                <!--Label adicionado pois para checkbox não pode conter floating se não ele não é exibido-->
                <ion-label *ngIf="pergunta.type == 'BOOLEAN'">{{pergunta.label}}</ion-label>
                <ion-checkbox *ngIf="pergunta.type == 'BOOLEAN'" required
                              [formControlName]="pergunta.key"></ion-checkbox>
            </ion-item>
        </div>

        <div *ngIf="checklist_id > 0 && (checkRespondido == null || checkRespondido == false) && aplica_chk_gp == 1" padding>
            <p>O checklist {{check?.descricao}} deverá ser aplicado nesta visita!</p>
            <button ion-button block icon-start small type="button" (click)="abrirChecklist(check)" color="primary-2">
                <ion-icon name="checkbox"></ion-icon>
                <div>Aplicar Checklist</div>
            </button>
        </div>

    </form>

</ion-content>

<ion-footer no-shadow no-padding [hidden]="keyboard.isVisible">
    <button ion-button full no-margin class="center" button type="button" form="formVisita"
            [disabled]="perguntasFormGroup.invalid && (checkRespondido == null || checkRespondido == false)"
            (click)="storeVisita()">
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>