<ion-header no-border>
    <ion-navbar  class="transparente">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>

</ion-header>


<ion-content padding class="content-fundo">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="main-content" (swipe)="swipe($event)">
        <h1>PRODUTORES</h1>

        <ion-row>
            <ion-col>
                <button ion-button block class="center btn-icone-esquerda" color="primary" margin-bottom margin-top
                        (click)="openPages('ProdutoresIndexPage')">
                    <ion-icon name="people"></ion-icon>
                    Produtores
                </button>

                <button *ngIf="!integracao_aves" ion-button block class="center btn-icone-esquerda" color="primary" margin-bottom margin-top
                        (click)="openPages('PropriedadesIndexPage')">
                    <ion-icon name="home"></ion-icon>
                    Propriedades
                </button>

                <button ion-button block class="center btn-icone-esquerda" color="primary" margin-bottom margin-top
                        (click)="openPages('GalpoesIndexPage')">
                    <ion-icon name="filing"></ion-icon>
                    Galpões
                </button>
                <button ion-button block class="center btn-icone-esquerda" color="primary" margin-bottom margin-top
                        (click)="openPages('PlantelIndexPage')">
                    <ion-icon name="calculator"></ion-icon>
                    Recontagem de Plantel
                </button>
                <button ion-button block class="center btn-icone-esquerda" color="primary" margin-bottom margin-top
                        (click)="openPages('RecontagemRelatoriosPage')">
                    <ion-icon name="list-box"></ion-icon>
                    Relatórios de Planteis
                </button>
                <button ion-button block class="center btn-icone-esquerda" color="primary" margin-bottom margin-top
                        (click)="openPages('VisitasPage')">
                    <ion-icon name="calendar"></ion-icon>
                    Visitas
                </button>


            </ion-col>
        </ion-row>
    </div>
</ion-content>