<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Visitas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="bg-grey">
    <ion-searchbar (ionInput)="buscarProdutoresVisita($event)" placeholder="Buscar..." [(ngModel)]="termo_busca"
                   [debounce]="800" [animated]="true" no-padding padding-bottom>
    </ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let visita of visitas">
            <div class="item-icon" item-start>
                <ion-icon name="bookmarks" item-start no-padding class="bg-green" *ngIf="visita.data_visita != null"></ion-icon>
                <ion-icon name="bookmarks" item-start no-padding class="bg-blue" *ngIf="visita.data_visita == null"></ion-icon>
            </div>
            <h2>{{ visita.descricao}}</h2>
            <h3>{{ visita.produtor}}</h3>
            <p *ngIf="visita.data_visita">
                Visita efetuada em {{ visita.data_visita | date:'dd/MM/yyyy'}}
            </p>
            <p *ngIf="visita.data_visita == null">
                Visitar em {{ visita.data_previsao_visita | date:'dd/MM/yyyy'}}
            </p>
            <button ion-button item-end [color]="visita.data_visita != null ? 'c-orange' : 'primary'" small (click)="editar(visita)">
                <ion-icon [name]="visita.data_visita != null ? 'create' : 'clipboard'" ></ion-icon>
            </button>
        </ion-item>
    </ion-list>

</ion-content>

