page-visitas {
  .item-icon {
    margin-left: 5px;
    ion-icon {
      color: #fff;
      padding: 5px;
      border-radius: 50%;
      min-width: 30px;
      min-height: 30px;
      text-align: center;
    }

    .bg-green {
      background-color: #26ab56;
    }

    .bg-blue {
      background-color: color($colors, primary-2);
    }

  }
}
