<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()" class="back-button-modal">
                <ion-icon color="white" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Nova Ação
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="acaoForm" id="form" novalidate>
        <ion-list>
            <ion-item>
                <p>Produtor: {{ propriedade?.propriedade_concat_produtor }}</p>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Grupos</ion-label>
                <ionic-selectable item-content formControlName="grupo_acao_id" [items]="grupos" required
                                  itemValueField="id"
                                  itemTextField="descricao"
                                  searchPlaceholder="Buscar Grupos..."
                                  searchFailText="Nenhum grupo encontrado!"
                                  [canSearch]="true"
                                  (onChange)="carregarPontos($event)">
                    <ng-template ionicSelectableCloseButtonTemplate>
                        <span ion-text color="white" showWhen="ios">Cancelar</span>
                        <ion-icon color="white" name="close-circle" style="font-size: 24px;"
                                  showWhen="android,windows"></ion-icon>
                    </ng-template>
                </ionic-selectable>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Ponto Ação</ion-label>
                <ionic-selectable item-content formControlName="ponto_acao_id" [items]="pontos" required
                                  itemValueField="id"
                                  itemTextField="descricao"
                                  searchPlaceholder="Buscar Ponto..."
                                  searchFailText="Nenhum ponto encontrado!"
                                  [canSearch]="true"
                                  (onChange)="carregarParametros($event)">
                    <ng-template ionicSelectableCloseButtonTemplate>
                        <span ion-text color="white" showWhen="ios">Cancelar</span>
                        <ion-icon color="white" name="close-circle" style="font-size: 24px;"
                                  showWhen="android,windows"></ion-icon>
                    </ng-template>
                </ionic-selectable>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Parâmetro</ion-label>
                <ionic-selectable item-content formControlName="parametro_acao_id" [items]="parametros" required
                                  itemValueField="id"
                                  itemTextField="descricao"
                                  searchPlaceholder="Buscar Parâmetro..."
                                  searchFailText="Nenhum parâmetro encontrado!"
                                  [canSearch]="true"
                                  (onChange)="valorPadrao($event)">
                    <ng-template ionicSelectableCloseButtonTemplate>
                        <span ion-text color="white" showWhen="ios">Cancelar</span>
                        <ion-icon color="white" name="close-circle" style="font-size: 24px;"
                                  showWhen="android,windows"></ion-icon>
                    </ng-template>
                </ionic-selectable>
            </ion-item>

            <ion-item>
                <ion-label floating>Valor Padrão</ion-label>
                <ion-textarea rows="3" disabled value="{{ informacao_padrao }}"></ion-textarea>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>O Que</ion-label>
                <ion-textarea rows="6" formControlName="o_que" autocapitalize="on" autocomplete="on" required></ion-textarea>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Como</ion-label>
                <ion-textarea rows="6" formControlName="como" autocapitalize="on" autocomplete="on" required></ion-textarea>
            </ion-item>

            <ion-item class="form-required">
                <ion-label floating>Quem</ion-label>
                <ion-input formControlName="quem" autocapitalize="on" autocomplete="on" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Até Quando</ion-label>
                <ion-input [readonly]="true"></ion-input>
            </ion-item>
            <ion-calendar formControlName="quando" [format]="'YYYY-MM-DD'" [options]="options" required></ion-calendar>
        </ion-list>
    </form>
	<button ion-button icon-only full color="primary-2" ng-show="!isIos" (click)="assinarAcao()">
		<ion-icon name="ios-create-outline"></ion-icon>
		Coletar Assinatura
	</button>
    <hr>

    <div class="pins">
        <div class="pin" *ngFor="let foto of fotos">
            <ion-card no-margin>
                <img [src]="foto.img"/>
                <button ion-button icon-only full no-margin small color="danger" (click)="removeFoto(foto)">
                    <ion-icon name="trash"></ion-icon>
                    Apagar
                </button>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-fab right bottom>
    <button ion-fab color="light" (click)="newFoto()"><ion-icon name="camera"></ion-icon></button>
</ion-fab>

<ion-footer no-shadow no-padding>
    <button ion-button full no-margin class="center" type="button" form="form" [disabled]="acaoForm.invalid"
            (click)="gerarAcao()">
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Salvar
    </button>
</ion-footer>
