<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()" class="back-button-modal">
                <ion-icon color="white" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Solicitar Liberação do Checklist
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="solicitacaoForm" id="form" novalidate>
        <ion-list>
            <ion-item>
                <ion-label floating>Propriedade</ion-label>
                <ion-input type="text" disabled formControlName="descricao_propriedade"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Checklist</ion-label>
                <ion-input type="text" disabled formControlName="descricao_checklist"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Período de Aplicação</ion-label>
                <ion-input type="text" disabled formControlName="periodo_vigente"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Justificativa</ion-label>
                <ion-textarea formControlName="justificativa" rows="10" overflow-scroll="true"></ion-textarea>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
<ion-footer no-shadow no-padding>
    <button ion-button full no-margin class="center" type="button" form="form" [disabled]="solicitacaoForm.invalid" (click)="store()">
        <ion-icon name="checkmark-circle" margin-right></ion-icon>
        Solicitar Liberação
    </button>
</ion-footer>