<ion-header>
    <ion-navbar >
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>

        <ion-title>Detalhes da Ação</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div id="print-to-share">
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/ferramentas.jpg">
            </ion-avatar>
            <h2>
                <ion-icon *ngIf="!acao.id_web" name="warning" color="warning" class="margin-negative-1"></ion-icon>
                <ion-icon *ngIf="acao.id_web" name="cloud-done" color="primary" class="margin-negative-1"></ion-icon>
                Ação #{{acao.id}}
            </h2>
            <p>{{ acao.produtor_propriedade }}</p>
        </ion-item>
        <hr class="bg-white">
        <ion-card-content class="bg-white">
            <p>
                <b>Até quando:</b>
                <ion-badge [color]="acao.quando >= now ? 'secondary':'danger'">
                    {{ acao.quando | date:'dd/MM/yyyy'}}
                </ion-badge>
            </p>
            <p><b>O que:</b> {{ acao.o_que }}</p>
            <p><b>Como:</b> {{ acao.como }}</p>
        </ion-card-content>
    </div>

    <ion-fab right bottom>
        <button ion-fab color="primary-2" (click)="compartilharAcao()">
            <ion-icon name="share"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
