<ion-header>
    <ion-navbar>
        <button ion-button navPop class="navpop">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>
        <ion-title>Sincronizar</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div>
        <ion-segment [(ngModel)]="aba">
            <ion-segment-button value="enviar">
                <ion-icon name="cloud-upload" item-start></ion-icon>
                &nbsp;
                Enviando
            </ion-segment-button>
            <ion-segment-button value="baixar">
                <ion-icon name="cloud-download" item-start></ion-icon>
                &nbsp;
                Baixando
            </ion-segment-button>
        </ion-segment>
    </div>
    <div *ngIf="showMsg">
        <span class="message {{typeMsg}}">{{ texto }}</span>
    </div>

    <div [ngSwitch]="aba">
        <ion-list *ngSwitchCase="'enviar'">
            <ion-list no-lines>
                <ion-item *ngFor="let item of listSincUp">
                    <ion-icon name="{{item.icon}}" item-start [color]="item.color_icon"></ion-icon>
                    {{item.title}}
                    <p *ngIf="item.progress == 100">{{item.msg}}</p>
                    <progress-bar *ngIf="item.progress > 0 && item.progress < 100" [progress]="item.progress"
                                  [color-degraded]="{'0': '#c7c7c7',  '35': '#e6c64f', '75': '#52ce56'}">
                    </progress-bar>
                    <ion-spinner *ngIf="item.progress < 100 || item.showSpinner" item-end></ion-spinner>
                </ion-item>
            </ion-list>
        </ion-list>
        <ion-list *ngSwitchCase="'baixar'">
            <ion-list no-lines>
                <ion-item *ngFor="let item of listSincDown">
                    <ion-icon name="{{item.icon}}" item-start [color]="item.color_icon"></ion-icon>
                    {{item.title}}
                    <p *ngIf="item.progress == 100">{{item.msg}}</p>
                    <progress-bar *ngIf="item.progress > 0 && item.progress < 100" [progress]="item.progress"
                                  [color-degraded]="{'0': '#c7c7c7',  '35': '#e6c64f', '75': '#52ce56'}">
                    </progress-bar>
                    <ion-spinner *ngIf="item.progress < 100 || item.showSpinner" item-end></ion-spinner>
                </ion-item>
            </ion-list>
        </ion-list>
    </div>
</ion-content>

<ion-footer >
    <button ion-button icon-start color="dark" full clear no-margin (click)="sincronizarApp()" [disabled]="inSync">
        <ion-icon name="refresh"></ion-icon>
        <span *ngIf="!inSync">Sincronizar</span>
        <span *ngIf="inSync">Sincronizando...</span>
    </button>
</ion-footer>
