page-sincronizacao {
  .message{
    display: block;
    padding: 8px 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    width: 100%;
  }

  .success{
    background-color: color($colors, secondary);
  }

  .danger{
    background-color: color($colors, danger);
  }

  .warning{
    background-color: color($colors, warning);
  }
}
